{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="card">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <h1>{% trans "Login Cancelled" %}</h1>

                {% url 'account_login' as login_url %}

                <p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If
                    this was a mistake, please proceed to <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}