{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load filters %}
{% load cropping %}
{% block other-head %}
    <link rel="stylesheet"
          href="{% static "manager/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}"/>
{% endblock %}
{% block page-header %}
    <div class="row">
        {% trans "Talks" %}
        <div id="buttons" class="pull-right">
            {% if user|is_organizer:event_slug %}
                <a href="{% url "add_activity" event_slug %}" class="btn btn-raised btn-success">
                    {% trans 'Submit an activity' %}
                </a>
            {% endif %}
            <button type="button" class="btn btn-raised btn-success" onclick="javascript:showAll()">
                {% trans 'Show all' %}
            </button>
            <button type="button" class="btn btn-raised btn-success" onclick="javascript:hideAll()">
                {% trans 'Hide all' %}
            </button>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% if talks or proposals %}
        <div class="row">
            <div class="panel-group" id="accordion">
                {% for talk in talks %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   href="#talk-{{ forloop.counter }}">
                                    {{ talk.activity.title }} - {{ talk.activity.schedule }}
                                    <i class="indicator fa fa-chevron-down pull-right"></i>
                                </a>
                                {% if user.is_authenticated %}
                                    <span class="label label-success pull-right"
                                          style="border-radius: 2px; padding-top: 0.3em">
                                        {% trans "Confirmed" %}
                                    </span>
                                {% endif %}
                            </h4>
                        </div>
                        <div id="talk-{{ forloop.counter }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {% if talk.image %}
                                            <img src="{% cropped_thumbnail talk.image "cropping" %}"
                                                 width="100%">
                                        {% else %}
                                            <img src="{% static "manager/img/no-image.png" %}" width="100%">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-8" style="padding-top: 10px">
                                        <p><strong>{% trans "Abstract" %}:</strong> {{ talk.activity.abstract }}
                                        </p>

                                        <p>
                                            <strong>{% trans "Speakers" %}:</strong> {{ talk.speakers_names|title }}
                                        </p>

                                        <p><strong>{% trans "Labels" %}:</strong> {{ talk.labels|lower }}
                                        </p>

                                        <p><strong>{% trans "Type" %}:</strong> {{ talk.type }}</p>

                                        <p><strong>{% trans "Room" %}:</strong> {{ talk.activity.room }}</p>

                                        <p><strong>{% trans "Start" %}:</strong> {{ talk.activity.start_date }}</p>

                                        <p><strong>{% trans "End" %}:</strong> {{ talk.activity.end_date }}</p>

                                        <p><a href="{% url "talk_detail" event_slug talk.pk %}">
                                            {% trans "View Talk" %}
                                        </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for proposal in proposals %}
                    {% if not proposal.confirmed_talk %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#proposal-{{ forloop.counter }}">
                                        {{ proposal.activity.title }} - {{ proposal.activity.schedule }}
                                        <i class="indicator fa fa-chevron-down pull-right"></i>
                                    </a>
                                    {% if user.is_authenticated %}
                                        <span class="label label-danger pull-right" style="padding-top: 0.3em">
                                            {% trans "Not Confirmed" %}
                                        </span>
                                    {% endif %}
                                </h4>
                            </div>
                            <div id="proposal-{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {% if proposal.image %}
                                                <img src="{% cropped_thumbnail proposal.image "cropping" %}"
                                                     width="100%">
                                            {% else %}
                                                <img src="{% static "manager/img/no-image.png" %}" width="100%">
                                            {% endif %}

                                        </div>
                                        <div class="col-sm-8">
                                            <div id="proposal-info-{{ forloop.counter }}">
                                                <p>
                                                    <strong>{% trans "Abstract" %}:</strong> {{ proposal.activity.abstract }}
                                                </p>

                                                <p>
                                                    <strong>{% trans "Speakers" %}:</strong> {{ proposal.speakers_names|title }}
                                                </p>

                                                <p><strong>{% trans "Labels" %}:</strong> {{ proposal.labels|lower }}
                                                </p>

                                                <p><strong>{% trans "Type" %}:</strong> {{ proposal.type }}</p>
                                                {% if user|is_organizer:event_slug %}
                                                    <p><a id='become-{{ forloop.counter }}'
                                                          class="accordion-toggle"
                                                          data-toggle="collapse"
                                                          onclick="becomeTalk('proposal-info-{{ forloop.counter }}','to_talk-{{ forloop.counter }}')">
                                                        {% trans "Become Talk" %}
                                                    </a></p>
                                                {% endif %}
                                            </div>
                                            <p>
                                                <a href="{% url "proposal_detail" event_slug proposal.pk %}">
                                                    {% trans "View Proposal" %}
                                                </a></p>

                                            {% if user|is_organizer:event_slug %}
                                                <div id="to_talk-{{ forloop.counter }}"
                                                     class="panel-collapse collapse">
                                                    <div class="container col-sm-12">
                                                        {% include 'activities/talks/to_talk_form.html' with form=proposal.form errors=proposal.errors form_id=proposal.pk %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="well">
            <p>
                {% trans "There isn't any talk proposal yet." %} <a
                    href="{% url "talk_proposal" event_slug %}">{% trans "Submit yours!" %}</a>
            </p>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <h2>{% trans "Activities" %}</h2>
        </div>
    </div>
    {% if activities_confirmed or activities_not_confirmed %}
        <div class="row">
            <div class="panel-group" id="accordion">
                {% for activity in activities_confirmed %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   href="#activity-{{ forloop.counter }}">
                                    {{ activity.title }} - {{ activity.schedule }}
                                    <i class="indicator fa fa-chevron-down pull-right"></i>
                                </a>
                                {% if user.is_authenticated %}
                                    <span class="label label-success pull-right"
                                          style="border-radius: 2px; padding-top: 0.3em">
                                        {% trans "Confirmed" %}
                                    </span>
                                {% endif %}
                            </h4>
                        </div>
                        <div id="activity-{{ forloop.counter }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-8" style="padding-top: 10px">
                                        <p><strong>{% trans "Abstract" %}:</strong> {{ activity.abstract }}</p>

                                        <p><strong>{% trans "Room" %}:</strong> {{ activity.room }}</p>

                                        <p><strong>{% trans "Start" %}:</strong> {{ activity.start_date }}</p>

                                        <p><strong>{% trans "End" %}:</strong> {{ activity.end_date }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for activity in activities_not_confirmed %}
                    {% if not activity.confirmed %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#activity-{{ forloop.counter }}">
                                        {{ activity.title }} - {{ activity.schedule }}
                                        <i class="indicator fa fa-chevron-down pull-right"></i>
                                    </a>
                                    {% if user.is_authenticated %}
                                        <span class="label label-danger pull-right" style="padding-top: 0.3em">
                                            {% trans "Not Confirmed" %}
                                        </span>
                                    {% endif %}
                                </h4>
                            </div>
                            <div id="activity-{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div id="activity-info-{{ forloop.counter }}">
                                                <p><strong>{% trans "Abstract" %}:</strong> {{ activity.abstract }}</p>

                                                <p><strong>{% trans "Speakers" %}:</strong> {{ activity.speakers_names|title }}</p>

                                                <p><strong>{% trans "Labels" %}:</strong> {{ activity.labels|lower }}</p>

                                                <p><strong>{% trans "Type" %}:</strong> {{ activity.type }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="well">
            <p>
                {% trans "There isn't any activity yet." %} <a
                    href="{% url "add_activity" event_slug %}">{% trans "Submit yours!" %}</a>
            </p>
        </div>
    {% endif %}
    {% if not event.schedule_confirm and user|is_organizer:event_slug %}
        <div class="row">
            <a type="button" class="btn btn-raised btn-success btn-xs"
               href="{% url "confirm_schedule" event_slug %}">
                <span aria-hidden="true">{% trans 'Confirm Schedule' %}</span>
            </a>
        </div>
    {% endif %}

{% endblock %}
{% block other-script %}
    <script type="text/javascript" src="{% static "manager/bower_components/moment/min/moment.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "manager/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script>

        function becomeTalk(source, target) {
            $('#' + source).attr("style", "visibility: hidden; position: absolute");
            $('#' + target).removeClass('collapse');
        }

        function showAll() {
            $('.panel-collapse').collapse('show');
        }

        function hideAll() {
            $('.panel-collapse.in').collapse('hide');
        }

        $(document).ready(function() {

            function toggleChevron(e) {
                $(e.target)
                        .prev('.panel-heading')
                        .find("i.indicator")
                        .toggleClass('fa-chevron-down fa-chevron-up');
            }

            $('.timepicker').datetimepicker({
                format  : 'LT',
                icons   : {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up  : "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                stepping: 15
            });

            $('#accordion')
                    .on('hidden.bs.collapse', toggleChevron)
                    .on('shown.bs.collapse', toggleChevron);

        });
    </script>
{% endblock %}