{% extends "generic-bootstrap-multiple-model-form.html" %}
{% load staticfiles %}
{% load cropping thumbnail %}
{% load i18n %}
{% block other-head %}
    <script> var jqMin = jQuery.noConflict(); </script>
    {% for form in forms %}
        {% if form.media %} {{ form.media }} {% endif %}
    {% endfor %}
    <script> jQuery = $ = jqMin;</script>
<link rel="stylesheet"
          href="{% static "manager/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}"/>
{% endblock %}

{% block page-header %}{% trans "Activity" %}{% endblock %}

{% block page-name %}{% trans "Activity" %}{% endblock %}

{% block form-id %}"activity"{% endblock %}

{% block form-name %}{% trans "Activity" %}{% endblock %}

{% block form-action %}"."{% endblock %}

{% block other-script %}
    <script type="text/javascript" src="{% static "manager/bower_components/moment/min/moment.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "manager/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>

    <script>

        $(document).ready(function() {

            $('.timepicker').datetimepicker({
                format  : 'LT',
                icons   : {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up  : "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                stepping: 15
            });

        });

    </script>

{% endblock %}

