{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load filters %}
{% load cropping %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>{{ activity.title }}</h1>
                </div>
                <div class="panel-body">
                    <p style="font-weight: 500">{{ activity.abstract }}</p>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            {% if activity.type %}
                                <p><strong>{% trans "Type" %}:</strong> {{ activity.type|capfirst }}</p>
                            {% endif %}
                            {% if activity.level %}
                                <p><strong>{% trans "Level" %}:</strong> {{ activity.get_level_display|capfirst }}</p>
                            {% endif %}
                            {% if activity.speakers_names %}
                                <p><strong>{% trans "Speakers" %}:</strong> {{ activity.speakers_names }}</p>
                            {% endif %}
                            {% if activity.start_date and activity.end_date %}
                                <p>
                                    <strong>{% trans "Time" %}:</strong> {% trans "From" %} {{ activity.start_date|time:"H:i" }} {% trans "To" %} {{ activity.end_date|time:"H:i" }}
                                </p>
                            {% endif %}
                            {% if activity.room %}
                                <p><strong>{% trans "Room" %}:</strong> {{ activity.room.name|capfirst }}</p>
                            {% endif %}
                            <p>
                                {% for label in activity.labels %}
                                    <span class="label label-warning">{{ label|lower }}</span>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {% if activity.image %}
                                <img src="{% cropped_thumbnail activity "cropping" %}" width="100%">
                            {% else %}
                                <img src="{% static "manager/img/no-image.png" %}" width="100%">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{% trans "Description" %}</h2>
                            <p style="text-align: justify">{{ activity.long_description }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            {% if activity.presentation %}
                                <a href="{{ activity.presentation.url }}" class="btn btn-raised btn-warning pull-right">
                                    <i class="fa fa-download"></i> {% trans "Download presentation" %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}