{% extends "base.html" %}
{% load i18n %}
{% load filters %}
{% load static %}
{% block other-head %}
    <link rel="stylesheet" href="{% static "manager/bower_components/fullcalendar/dist/fullcalendar.css" %}"/>
    <link rel="stylesheet" href="{% static "manager/bower_components/fullcalendar-scheduler/dist/scheduler.css" %}"/>
    <style media="screen">
        /* Styling for each event from Schedule */
        .fc-time-grid-event.fc-v-event.fc-event {
            border-color: #01579b !important;
            padding: 5px;
            opacity: .65;
            left: 5% !important;
            right: 5% !important;
        }

        /* Bolds the name of the event and inherits the font size */
        .fc-event {
            font-size: inherit !important;
            font-weight: 500 !important;
        }

        /* Inherits background for each event from Schedule. */
        .fc-event .fc-bg {
            z-index: 1 !important;
            background: inherit !important;
            opacity: .25 !important;
        }

        .fc-time {
            font-weight: 500 !important;
        }
        .fc-unthemed td {
          background-color: unset !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="well">
        <h1>{% trans "Activities Schedule" %}</h1>
        <div id="calendar"></div>
    </div>
{% endblock %}

{% block other-script %}
    <script type="text/javascript" src="{% static "manager/bower_components/moment/min/moment.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "manager/bower_components/fullcalendar/dist/fullcalendar.js" %}"></script>
    <script type="text/javascript"
            src="{% static "manager/bower_components/fullcalendar-scheduler/dist/scheduler.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var defaultDate = JSON.parse('{{ default_date | escapejs }}');
            var rooms = JSON.parse('{{ rooms | escapejs }}');
            var activities = JSON.parse('{{ activities | escapejs }}');
            var minTime = JSON.parse('{{ min_time | escapejs }}');
            var maxTime = JSON.parse('{{ max_time | escapejs }}');

            $('#calendar').fullCalendar({
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                defaultView: 'agendaDay',
                header: false,
                height: "auto",
                timeFormat: 'H:mm',
                slotLabelFormat: [
                    'H:mm'
                ],
                eventColor: '#0288d1',
                defaultDate: defaultDate,
                scrollTime: minTime,
                minTime: minTime,
                maxTime: maxTime,
                slotDuration: '00:15',
                allDaySlot: false,
                resources: rooms,
                events: activities
            });
        });
    </script>
{% endblock %}
