{% extends "base.html" %}
{% load i18n %}
{% load filters %}
{% load static %}
{% block page-header %}{% trans "activities Schedule" %}{% endblock %}

{% block content %}
    <div class="well row text-center {% if schedule.rooms >= 6 %}letra-chiquita{% endif %}"
         data-columns="{{ schedule.rooms|schedule_cols_total }}">
        <div class="col-md-{{ schedule.rooms|schedule_cols_first }} hidden-sm hidden-xs">
            <div class="alert schedule-room row"><strong>{% trans "Hour" %}</strong></div>
            <div style="height: {{ schedule.size }}px;">
                {% for reference_hour in schedule.reference_hours %}
                    <div style="height: {{ reference_hour.size }}%">
                        <strong>{{ reference_hour.start|date:"H:i" }} - {{ reference_hour.end|date:"H:i" }}</strong>
                    </div>
                    {% if not forloop.last %}
                        <hr style="padding:0px; margin:0px;"/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% for room in schedule.rooms %}
            <div class="col-md-{{ schedule.rooms|schedule_cols_other }}">
                <div class="row alert schedule-room"><strong>{{ room.name|title }}</strong></div>
                <div style="height: {{ schedule.size }}px; font-size: 14px">
                    {% for activity in room.activities %}
                        {% if 'dummy' in activity %}
                            <div class="schedule-dummy hidden-sm hidden-xs" style="height: {{ activity.dummy_size }}%;"></div>
                        {% else %}
                            <div class="schedule-talk" style="height: {{ activity.activity_size }}%">
                                {% if activity.activity_size < 3 %}
                                    {% if activity.is_talk %}<a href='{% url "activity_detail" event_slug activity.pk %}'>{% endif %}
                                        <strong>
                                            {{ activity.title|title|truncatechars:10 }} {{ activity.schedule }}</strong><br>
                                    {% if activity.is_talk %}</a>{% endif %}
                                {% else %}
                                    {% if activity.is_talk %}<a href='{% url "activity_detail" event_slug activity.pk %}'>{% endif %}
                                        <strong>
                                            {{ activity.title|title|truncatechars:50 }}</strong><br>
                                    {% if activity.is_talk %}</a>{% endif %}
                                    {{ activity.schedule }}
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if not forloop.last %}
                            <hr style="padding:0px; margin:0px;"/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block other-script %}
    <script type="text/javascript"
            src="{% static "manager/bower_components/gridline-bootstrap/dist/gridline.min.js" %}">
    </script>
{% endblock %}