ADMIN_TITLE=EventoL
APP_DNS=localhost
CELERY_BROKER_URL=redis://celery_worker:6379
CELERY_ENABLED=False
CELERY_RESULT_BACKEND=redis://celery_worker:6379
CELERY_TIMEZONE=TIME_ZONE
COMPOSE_HTTP_TIMEOUT=500
DEBUG=True
DEFAULT_FROM_EMAIL=EMAIL_FROM
DJANGO_CONFIGURATION=Dev
DJANGO_SETTINGS_MODULE=eventol.settings
DONT_SET_FILE_UPLOAD_PERMISSIONS=False
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_FAIL_SILENTY=False
EMAIL_FROM=change_unset@mail.com
EMAIL_HOST_PASSWORD=None
EMAIL_HOST_USER=None
EMAIL_HOST=smtp.unset
EMAIL_PORT=587
EMAIL_TIMEOUT=10
EMAIL_USE_TLS=True
HOST=localhost
JAZZMIN_LANGUAGE_CHOOSER=True
JAZZMIN_SITE_BRAND=EventoL
JAZZMIN_SITE_HEADER=EventoL
JAZZMIN_SITE_TITLE=EventoL Admin
JAZZMIN_WELCOME_SIGN=Administration panel of EventoL
LANGUAGE_CODE=en-US
LIST_PER_PAGE=25
LOAD_INITIAL_DATA=false
LOG_FILE=/var/log/eventol/eventol.log
POSTGRES_DB=eventol
POSTGRES_PASSWORD=secret
POSTGRES_USER=eventol
PRIVATE_ACTIVITIES=True
PROTOCOL=ws
PSQL_DBNAME=eventol
PSQL_HOST=postgres
PSQL_OPTIONS_SSL=prefer
PSQL_PASSWORD=secret
PSQL_PORT=5432
PSQL_USER=eventol
REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY=!a44%(r2!1wp89@ds(tqzpo#f0qgfxomika$16v5v@b%ecu
SENTRY_DSN=NOT_CONFIGURED
TEMPLATE_DEBUG=True
TIME_ZONE=UTC
WS_PROTOCOL=ws

