*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/

#Backup files
*~

#My files
eventoL/my_settings.py
deploy.txt
media/talks_thumbnails/
manager/static/manager/bower_components/
/manager/static/manager/css/flisol-bootstrap.css
/manager/static/manager/css/flisol.css
media/
env/
manager/static/admin/
manager/static/autocomplete_light/
manager/static/ckeditor/
manager/static/facebook/
manager/static/gis/
manager/static/image_cropping/
manager/static/js/
manager/static/rest_framework/
manager/static/import_export/
manager/static/debug_toolbar/

venv/
