*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml

# Translations
*.mo
eventol/conf/locale/en/
eventol/conf/locale/**/*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/

#Backup files
*~

#My files
.cache
.config/
.coverage
.coverage.*
.env
.env/
.ipython/
.local/
.pytest_cache/
.python_history
.venv/
.vscode/
*.mo
*.orig
*.tar.gz
coverage/
data/
db.sqlite3
deploy.txt
deploy/docker/.env
deploy/docker/db/
env/
eventol_dev_db
eventol/manager/static/admin/
eventol/manager/static/autocomplete_light/
eventol/manager/static/channels/
eventol/manager/static/ckeditor/
eventol/manager/static/debug_toolbar/
eventol/manager/static/facebook/
eventol/manager/static/gis/
eventol/manager/static/image_cropping/
eventol/manager/static/import_export/
eventol/manager/static/js/
eventol/manager/static/manager/css/eventol-bootstrap.css
eventol/manager/static/manager/css/eventol.css
eventol/manager/static/rest_framework/
eventol/media/talks_thumbnails/
eventol/static/
htmlcov/
media/
my_settings.py
venv/
venv/
