*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml

# Translations
*.mo
eventol/conf/locale/en/
eventol/conf/locale/**/*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/

#Backup files
*~

#My files
my_settings.py
deploy.txt
eventol_dev_db
eventol/manager/static/manager/css/eventol-bootstrap.css
eventol/manager/static/manager/css/eventol.css
eventol/static/
media/
env/
venv/
.venv/
.env/
.env
eventol/media/talks_thumbnails/
eventol/manager/static/admin/
eventol/manager/static/autocomplete_light/
eventol/manager/static/ckeditor/
eventol/manager/static/facebook/
eventol/manager/static/gis/
eventol/manager/static/image_cropping/
eventol/manager/static/js/
eventol/manager/static/rest_framework/
eventol/manager/static/import_export/
eventol/manager/static/debug_toolbar/
eventol/manager/static/channels/
node_modules
db.sqlite3
*.mo
webpack-stats-local.json
eventol/front/eventol/static/manager/*
!eventol/front/eventol/static/manager/less
eventol/front/eventol/static/bundles/
eventol/front/report.html
.coverage
.coverage.*
.cache
htmlcov/
coverage/
jest_*
venv/
.vscode/
*.orig


.config/
deploy/docker/.env
*.tar.gz
eventol/front/scss-lint-report.html
eventol/front/yarn-error.log
data/
deploy/docker/db/

.ipython/
.python_history
.yarnrc
	
eventol/front/webpack-stats-prod.json
.yarn/
.pytest_cache/
.local/
