astroid==1.5.3
pylint==1.7.4
pylint-django==0.7.2
pylint-plugin-utils==0.2.6
pytest==3.2.3
pytest-cov==2.5.1
pytest-django==3.1.2
django-dynamic-fixture==1.9.5
django-nose==1.4.5
mock==2.0.0
