autobahn==23.6.2
backports.csv==1.0.7
CairoSVG==2.1.1
django-allauth==0.63.3
django-autocomplete-light==3.11.0
django-ckeditor==6.7.1
django-configurations==2.5.1
django-email-extras==0.3.4
django-extensions==3.2.3
django-filter==21.1
django-formset-js==0.5.0
django-image-cropping==1.7
django-import-export==4.0.9
django-queryset-csv==1.0.2
django-simple-captcha==0.5.20
django-tempus-dominus==5.1.2.17
django-utils-six==2.0
django-vote==2.4
django-webpack-loader==0.5.0
Django==4.2
djangorestframework-queryfields==1.0.0
djangorestframework==3.15.1
easy-thumbnails==2.8.5
et-xmlfile==1.1.0
future==0.15.0
jwt==1.3.1
more-itertools==10.3.0
msgpack-python==0.5.6
odfpy==1.4.1
openpyxl==3.1.4
Pillow==9.0.1
posix-ipc==1.1.1
psycopg2-binary==2.8.6
PyJWT==2.10.1
pypng==0.0.18
PyQRCode==1.2.1
python3-openid==3.2.0
python3-saml==1.16.0
pytz==2024.1
PyYAML==6.0.1
raven==6.9.0
redis==2.10.6
requests-oauthlib==2.0.0
requests==2.32.3
sphinx-me==0.3
svglue==0.3.0
tablib==3.5.0
Twisted==24.3.0
Unidecode==1.3.8
xlrd==2.0.1
xlwt==1.3.0
