-r requirements.txt

django-autofixture @ git+https://github.com/josx/django-autofixture@2c431f3dd0ea35b040ff170b10ddc920f3b0378b

django-debug-toolbar==4.3.0
ipdb
ipython
pre_commit==4.2.0
pylint-django==2.6.1
pylint==3.3.6
pytest-cov==6.0.0
pytest-django==4.10.0
pytest-gitignore==1.3
pytest-lazy-fixture==0.6.3
pytest-mock==3.14.0
pytest-sugar==1.0.0
pytest-watch==4.2.0
pytest-xdist==3.6.1
pytest==8.3.5
ruff==0.11.2
