Django==1.7.7
Pillow==2.7.0
argparse==1.3.0
django-appconf==1.0.1
django-autocomplete-light==2.0.9
django-cities==0.4.1
django-generic-confirmation==0.3.0
django-image-cropping==1.0.0
django-tables2==0.15.0
easy-thumbnails==2.2
psycopg2==2.6
six==1.9.0
wsgiref==0.1.2
django-grappelli==2.6.3
django_compressor==1.4
django-ckeditor==4.4.7
django-voting==0.2

