@import '../../styles/variables';
@import '../../styles/commons';

.header {
  @extend %flex-element;
  // FF3.6-15
  background: -webkit-linear-gradient(top, $gradient-color 0%, transparent 100%);

  // Chrome10-25, Safari5.1-6
  background: linear-gradient(to bottom, $gradient-color 0%, transparent 100%);

  box-sizing: border-box;

  // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);

  left: 0;
  padding: 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}
