{% extends "generic-bootstrap-model-form.html" %}
{% load i18n %}
{% block page-header %}{% trans "Sign Up" %}{% endblock %}
{% block page-name %}{% trans "Sign Up" %}{% endblock %}

{% block form-id %}"signup_form"{% endblock %}

{% block form-name %}{% trans "Sign Up" %}{% endblock %}

{% block pre-form %}
    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
        {{ provider_name }} account to login to
        {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}</p>
{% endblock %}

{% block form-action %}"{% url 'socialaccount_signup' %}"{% endblock %}
{% block submit-button %}{% trans "Sign Up" %}{% endblock %}

{% block extra-fields %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
{% endblock %}
