@import '../../styles/variables';
@import '../../styles/commons';

.user-profile {
  margin-left: auto;

  a {
    text-decoration: none;
  }

  .user {
    @extend %flex-element;

    .image {
      @extend %center-element;
      -webkit-transition: border .125s ease;
      border: 3px solid transparent;
      border-radius: 44px;
      box-sizing: border-box;
      display: flex;
      height: 44px;
      margin-left: 10px;
      overflow: hidden;
      transition: border .125s ease;
      vertical-align: middle;
      width: 44px;

      img {
        display: block;
        width: 100%;
      }
    }

    .name {
      @extend %flex-element;
      @extend %center-element;
      font-size: 18px;
      font-weight: 300;
      height: 44px;
    }
  }

  .user:hover {
    cursor: pointer;

    .image {
      border: 3px solid $eventol-color;
    }
  }

  .user-profile-menu {
    display: none;
  }
}
