@import '../../../styles/variables';
@import '../../../styles/commons';

.user-profile-narrow {
  background: #666a73;
  margin-left: auto;
  margin-right: 8vw;
  opacity: .8;
  z-index: 0;

  a {
    float: unset !important;
    text-decoration: none;
  }

  .user {
    @extend %flex-element;

    .image {
      -webkit-transition: border .125s ease;
      align-items: center;
      border: 3px solid transparent;
      border-radius: 44px;
      box-sizing: border-box;
      display: flex;
      height: 44px;
      justify-content: center;
      margin-left: 10px;
      overflow: hidden;
      transition: border .125s ease;
      vertical-align: middle;
      width: 44px;

      img {
        display: block;
        width: 100%;
      }
    }

    .name {
      @extend %flex-element;
      @extend %center-element;
      font-size: 14px;
      font-weight: 300;
      height: 44px;
      padding-left: 10px;
    }
  }

  .user:hover {
    background: $eventol-color;
    cursor: pointer;
  }

  .user-profile-narrow-menu {
    display: none;
  }
}
