@import '../../styles/variables';
@import '../../styles/commons';

@media (min-width: 950px) {
  .navigation {
    ul {
      @include flex-element;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      height: 37px;
      padding: 0 10px;
  
      li {
        -webkit-transition: background .125s ease;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        padding: 7px 10px;
        transition: background .125s ease;
  
        a {
          text-decoration: none;
        }
      }
  
      a {
        text-decoration: none;
      }
  
      li:hover {
        background: $eventol-color;
        cursor: pointer;
      }
    }
  }  
}

@media (max-width: 950px) {
  .navigation {
    ul {
      background: #666a73;
      margin-right: 8vw;
      opacity: 0.8;
      z-index: 0;
    }
  
    ul a {
      float: unset !important;
      text-decoration: none;
    }
  
    ul li, ul a li {
      -webkit-transition: background .125s ease;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 400;
      padding: 7px 10px;
      text-align: left;
      transition: background .125s ease;
    }
  
    ul li:hover, ul a li:hover {
      background: $eventol-color;
      cursor: pointer;
    }
  }
}
