.navNarrow {
  display: flex;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;

  .navRight {
    margin-left: auto;
    i {
      float: right;
      z-index: 5;
    }
    .narrowLinks {
      display: none;
      a {
        display: block;
        float: right;
        clear: right;
      }
    }
  }
}

@media (min-width: 950px) {
  .navNarrow {
    display: none;
  }
}

a {
  color: white;
}
