@import '../../../styles/variables';
@import '../../../styles/commons';

.nav-narrow {
  @extend %flex-element;
  box-sizing: border-box;
  left: 0;
  padding: 40px;
  position: fixed;
  top: 0;
  width: 100vw;

  .nav-right {
    margin-left: auto;

    i {
      float: right;
      z-index: 5;
    }

    .narrow-links {
      display: none;

      a {
        clear: right;
        display: block;
        float: right;
      }
    }
  }
}

@media (min-width: 950px) {
  .nav-narrow {
    display: none;
  }
}

a {
  color: $a-color;
}
