<header class="header">
  {% comment %} Mobile version {% endcomment %}
  <div class="nav-narrow">
    <div class="logo-component" id="logo">
      <a href="/"
        ><img alt="header logo" src="/static/manager/img/eventol-white.png"
      /></a>
    </div>
    <div class="nav-right">
      <button type="button" hx-on:click="toggleNavbarMenu()"><i class="fa fa-bars fa-2x"></i></button>
      <div class="narrow-links">
        <div class="navigation" id="navigation">
          <nav>
            <ul>
              <button role="link" tabindex="0" type="button">
                <li>Search</li></button
              ><a href="http://eventol.github.io/eventoL/#/"
                ><li>Documentation</li></a
              ><a href="#featured"><li>Featured</li></a
              ><a href="#recent"><li>Recent</li></a
              ><a href="/report"><li>Generic report</li></a>
              <div class="languages-dropdown">
                <button class="dropbtn" type="button">
                  Languages<i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#lang" id="da">Danish</a
                  ><a href="#lang" id="en">English</a
                  ><a href="#lang" id="es">Spanish</a
                  ><a href="#lang" id="fr">French</a
                  ><a href="#lang" id="nb">Norwegian Bokmal</a
                  ><a href="#lang" id="nl">Dutch</a
                  ><a href="#lang" id="sv">Swedish</a
                  ><a href="#lang" id="zh">Chinese</a>
                </div>
              </div>
            </ul>
          </nav>
        </div>
        <div class="sign-in">
          <ul>
            <li><a href="/accounts/login/">Sign In</a></li>
            <li><a href="/accounts/signup/">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% comment %} Full version {% endcomment %}
  <div class="nav-wide">
    <div class="logo-component" id="logo">
      <a href="/"><img alt="header logo" src="/static/manager/img/eventol-white.png" /></a>
    </div>
    <div class="navigation" id="navigation">
      <nav>
        <ul>
          <button role="link" tabindex="0" type="button"><li>Search</li></button><a href="http://eventol.github.io/eventoL/#/"><li>Documentation</li></a><a href="#featured"><li>Featured</li></a><a href="#recent"><li>Recent</li></a><a href="/report"><li>Generic report</li></a><div class="languages-dropdown">
            <button class="dropbtn" type="button">Languages<i class="fa fa-caret-down"></i></button><div class="dropdown-content">
              <a href="#lang" id="da">Danish</a><a href="#lang" id="en">English</a><a href="#lang" id="es">Spanish</a><a href="#lang" id="fr">French</a><a href="#lang" id="nb">Norwegian Bokmal</a><a href="#lang" id="nl">Dutch</a><a href="#lang" id="sv">Swedish</a><a href="#lang" id="zh">Chinese</a>
            </div>
          </div>
        </ul>
      </nav>
    </div>
    <div class="sign-in">
      <ul>
        <li>
          <a href="/accounts/login/">Sign In</a>
        </li>
        <li>
          <a href="/accounts/signup/">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</header>
