@import '../../styles/variables';
@import '../../styles/commons';

.category-title {
  color: #666a73;
}

.title-list {
  -webkit-transition: opacity 3s ease;
  box-sizing: border-box;
  opacity: 0;
  padding: 20px 40px;
  position: relative;
  transition: opacity 3s ease;
  z-index: 4;

  &[data-loaded='true'] {
    opacity: 1;
  }

  .title,
  .category-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1em;
  }

  .titles-wrapper {
    @extend %flex-element;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    width: calc(100vw - 80px);
  }
}
