{% load filters %}
{% load i18n %}

<div class="form-group {{ field.html_name }} {% if not field|is_checkbox and not field|is_fileinput and not field|is_select and not field|is_datetime %}label-floating{% endif %}">
    {% if not field|is_checkbox %}
        <label class="bmd-label-static" for="{{ field.id_for_label }}">
            {% trans field.label %} {% if field.field.required %}*{% endif %}
        </label>
    {% endif %}

    {% if field.name == 'cropping' %}
        {{ field }}
    {% elif field|is_checkbox %}
        <div class="checkbox">
            <label>
                {{ field }}
                {% trans field.label %} {% if field.field.required %}*{% endif %}
            </label>
            {% if field.errors|length > 0 %}
                <span class="fa fa-exclamation-triangle" style="color: #f44336">
                    {{ field.errors.as_text }}
                </span>
            {% endif %}
        </div>
    {% elif field|is_datetime %}
        <input class="form-control timepicker empty input-small" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="text">
    {% else %}
        {% if field.errors %}
            {{ field | addcss:"form-control is-invalid" }}
        {% else %}
            {{ field | addcss:"form-control" }}
        {% endif %}
    {% endif %}
    
    {% if field.help_text %}
        <small class="form-text text-muted">
            {{ field.help_text }}
        </small>
    {% endif %}

    {% if field.errors|length > 0 %}
        <div class="invalid-feedback">
            {{ field.errors.as_text }}
        </div>
    {% endif %}
</div>