<!doctype html>
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static "manager/css/index.css" %}"/>
    <meta name="description" content="Event Management Software">
    <title>EventoL</title>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
  </head>
  <body>
    {% get_available_languages as languages %}
    {% include "components/header.html" %}

    <div id="root"><div>

      {% render_bundle 'vendors' %}
      {% render_bundle 'base' %}
      {% render_bundle 'slick' %}
      {% render_bundle 'map' %}
      {% render_bundle 'Home' %}

    <script type="text/javascript" src="{% static "manager/js/index.js" %}"></script>
    <script>
      window.render_components({
        {% if EVENTOL_SETTINGS.message and EVENTOL_SETTINGS.message.strip %}
          message: '{{ EVENTOL_SETTINGS.message }}',
        {% endif %}

        {% if EVENTOL_SETTINGS.background %}
          background: '{{ EVENTOL_SETTINGS.background.url }}',
        {% endif %}

        {% if EVENTOL_SETTINGS.logo_landing %}
          logo_landing: '{{ EVENTOL_SETTINGS.logo_landing.url }}',
        {% endif %}

        {% if user.is_authenticated %}
          user: {
            username: '{{ user.username | safe }}',
            first_name: '{{ user.first_name | safe }}',
            last_name: '{{ user.last_name | safe }}'
          },
        {% endif %}
      });

      function change_lang(language_code) {
        const url = "{% url 'set_language' %}";
        const csrfToken = "{{ csrf_token }}";
        
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrfToken
          },
          body: new URLSearchParams({
            'language': language_code,
            'csrfmiddlewaretoken': csrfToken
          })
        })
        .then(() => location.reload());
      }
      
    </script>
  </body>
</html>
