{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load filters %}
{% load cropping %}
{% block other-head %}
    <script type="text/javascript" src="{% static "manager/bower_components/moment/min/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "manager/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "manager/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="row panel panel-primary">
                <div class="col-sm-12 panel-heading">
                  <div class="col-sm-11">
                    <h1>{{ activity.title }}</h1>
                  </div>
                  <div class="col-sm-1 pull-right">
                    {% if activity.status == '1' %}
                      <span class="label label-info">{% trans "Proposal" %}</span>
                    {% elif activity.status == '3' %}
                      <span class="label label-danger">{% trans "Rejected" %}</span>
                    {% elif activity.status == '2' %}
                      <span class="label label-success" style="background-color: #5cb85c">{% trans "Accepted" %}</span>
                    {% endif %}
                  </div>
                </div>
                <div class="col-sm-12 panel-body">
                    <p style="font-weight: 500">{{ activity.abstract }}</p>
                    <hr/>
                    <div class="row">
                         {% if user.is_authenticated and user|is_organizer:event_uid %}
                             <div id="become-talk" class="{% if not errors %}panel-collapse collapse{% endif %}">
                                 <div class="container col-sm-12">
                                     {% include 'activities/to_talk_form.html' with form=form errors=errors form_id=activity.pk %}
                                 </div>
                             </div>
                             <div id="reject-activity" class="panel-collapse collapse">
                                 <div class="container col-sm-12">
                                     {% include 'activities/reject_form.html' with form=reject_form form_id=activity.pk %}
                                 </div>
                             </div>
                          {% endif %}
                          <div class='col-sm-12' id='activity-detail'>
                              <div class="col-md-6 col-sm-12">
                                  {% if user.is_authenticated and user|is_organizer:event_uid %}
                                    <p>
                                      <span style="margin-right: 5px;"><strong>{% trans "Votes" %}: </strong></span>
                                      {% if user|exists_vote:activity %}
                                        <a href="{% url "activity_vote_cancel" event_slug event_uid activity.id %}?next={{ request.get_full_path|urlencode }}" class="label {% if proposal.vote_score >= 0 %}label-success{% else %}label-danger{% endif %} status" style="width: 30px; margin-right: 5px;">
                                            <span class="vote-status">{{ activity.vote_score }}</span>
                                            <span class="vote-cancel">x</span>
                                        </a>
                                      {% else %}
                                        <a class="label label-success" href="{% url "activity_vote_up" event_slug event_uid activity.id %}?next={{ request.get_full_path|urlencode }}">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a class="label label-danger" href="{% url "activity_vote_down" event_slug event_uid activity.id %}?next={{ request.get_full_path|urlencode }}" style="margin-right: 5px">
                                          <i class="fa fa-thumbs-down"></i>
                                        </a>
                                      {% endif %}
                                    </p>
                                  {% endif %}
                                  {% if activity.type %}
                                      <p><strong>{% trans "Type" %}:</strong> {{ activity.get_type_display|capfirst }}</p>
                                  {% endif %}
                                  {% if activity.level %}
                                      <p><strong>{% trans "Level" %}:</strong> {{ activity.get_level_display|capfirst }}</p>
                                  {% endif %}
                                  {% if activity.speakers_names %}
                                      <p><strong>{% trans "Speakers" %}:</strong> {{ activity.speakers_names }}</p>
                                  {% endif %}
                                  {% if activity.start_date and activity.end_date %}
                                      <p>
                                          <strong>{% trans "Time" %}:</strong> {{ activity.schedule }}
                                      </p>
                                  {% endif %}
                                  {% if activity.room %}
                                      <p><strong>{% trans "Room" %}:</strong> {{ activity.room.name|capfirst }}</p>
                                  {% endif %}
                                  <p>
                                      {% for label in activity.labels %}
                                          <span class="label">{{ label|lower }}</span>
                                      {% endfor %}
                                  </p>
                                  {% if user.is_authenticated and user|is_organizer:event_uid %}
                                      {% if activity.status != '1' %}<p><a href="{% url "resend_proposal" event.slug event.uid activity.id %}?next={{ request.get_full_path|urlencode }}">
                                        {% trans "Resend Proposal" %}
                                      </a></p>{% endif %}
                                      {% if activity.status != '2' %}
                                      <p><a href='#'
                                            data-toggle="collapse"
                                            onclick="becomeTalk()">
                                          {% trans "Become Talk" %}
                                      </a></p>
                                      {% endif %}
                                      {% if activity.status != '3' %}
                                      <p><a id='reject'
                                            href='#'
                                            data-toggle="collapse"
                                            onclick="rejectActivity()">
                                          {% trans "Reject Talk" %}
                                      </a></p>
                                      {% endif %}
                                  {% endif %}
                              </div>
                              <div class="col-md-6 col-sm-12">
                                  {% if activity.image %}
                                      <img src="{% cropped_thumbnail activity "cropping" %}" width="100%">
                                  {% else %}
                                      <img src="{% static "manager/img/no-image.png" %}" width="100%">
                                  {% endif %}
                              </div>
                            <div class="col-xs-12">
                                <h2>{% trans "Description" %}</h2>
                                <p style="text-align: justify">{{ activity.long_description }}</p>
                            </div>
                            <div class="col-xs-12">
                                {% if activity.presentation %}
                                    <a href="{{ activity.presentation.url }}" class="btn btn-raised btn-warning pull-right">
                                        <i class="fa fa-download"></i> {% trans "Download presentation" %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other-script %}
    <script>

    function becomeTalk() {
        $('#activity-detail').attr("style", "visibility: hidden; position: absolute");
        $('#become-talk').removeClass('collapse');
    }

    function rejectActivity() {
        $('#activity-detail').attr("style", "visibility: hidden; position: absolute");
        $('#reject-activity').removeClass('collapse');
    }

        $(document).ready(function() {

            $('.timepicker').datetimepicker({
                format: 'HH:mm',
                icons   : {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up  : "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                stepping: 5
            });

        });
    </script>
{% endblock %}
