{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
{% load filters %}
{% load cropping thumbnail %}
{% block page-header %}
    <div class="row">
        <h1>
          {% trans "My Proposals" %}
        </h1>
    </div>
{% endblock %}
{% block content %}
    {% if accepted_activities or proposed_activities or rejected_activities %}
        <h3 class='row'>{% trans "Confirmed" %}</h3>
        <br>

        <div class="row">
            <div class="col-12" id="accordion">
                {% if accepted_activities %}
                    {% for talk in accepted_activities %}
                        <div>
                            <div class="card-header">
                                <h5 class="card-title" style="display: contents;"">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#talk-{{ forloop.counter }}">
                                        {{ talk.title }} - {{ talk.schedule }}
                                        <i class="indicator fa fa-chevron-down pull-right"></i>
                                    </a>
                                    {% if user.is_authenticated %}
                                        <span class="badge badge-success pull-right"
                                              style="border-radius: 2px; padding-top: 0.3em">
                                            {% trans "Confirmed" %}
                                        </span>
                                    {% endif %}
                                </h5>
                            </div>
                            <div id="talk-{{ forloop.counter }}" class="collapse">
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {% if talk.image %}
                                                <img src="{% cropped_thumbnail talk "cropping" %}" width="100%">
                                            {% else %}
                                                <img src="{% static "manager/img/no-image.png" %}" width="100%">
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-8" style="padding-top: 10px">
                                            <div id='talk-info-{{ forloop.counter }}'>
                                                {% if talk.abstract %}<p><strong>{% trans "Abstract" %}:</strong> {{ talk.abstract }}</p>{% endif %}
                                                {% if talk.speakers_names|title %}<p><strong>{% trans "Speakers" %}:</strong> {{ talk.speakers_names|title }}</p>{% endif %}
                                                {% if talk.labels|lower %}<p><strong>{% trans "Labels" %}:</strong>
                                                  {% for label in talk.labels %}
                                                      <span class="badge">{{ label|lower }}</span>
                                                  {% endfor %}
                                                </p>{% endif %}
                                                {% if talk.type %}<p><strong>{% trans "Type" %}:</strong> {{ talk.get_type_display }}</p>{% endif %}
                                                {% if talk.room %}<p><strong>{% trans "Room" %}:</strong> {{ talk.room }}</p>{% endif %}
                                                {% if talk.start_date %}<p><strong>{% trans "Start Time" %}:</strong> {{ talk.start_date }}</p>{% endif %}
                                                {% if talk.end_date %}<p><strong>{% trans "End Time" %}:</strong> {{ talk.end_date }}</p>{% endif %}
                                                {% if talk.long_description %}<p><strong>{% trans "Description" %}:</strong> {{ talk.long_description }}</p>{% endif %}
                                                <p><a href="{% url "activity_detail" event.event_slug talk.id %}">
                                                    {% trans "View Talk" %}
                                                </a></p>
                                                <p><a href="{% url "edit_activity_proposal" event.event_slug talk.id %}">{% trans "Edit Talk" %}</a></p>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>
                        <div class="card-header">
                            <h5 class="card-title" style="display: contents;"">
                                <div class="accordion-toggle">
                                    {% trans "There isn't any proposed activity yet." %}
                                </div>
                            </h5>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>

            <h3 class='row'>{% trans "Proposed" %}</h3>
            <br>

            <div class="row">
                <div class="col-12" id="accordion">
                    {% if proposed_activities %}
                        {% for proposal in proposed_activities %}
                            <div>
                                <div class="card-header">
                                    <h5 class="card-title" style="display: contents;"">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                           href="#proposal-{{ forloop.counter }}">
                                            {{ proposal.title }}
                                            <i class="indicator fa fa-chevron-down pull-right"></i>
                                        </a>
                                        {% if user.is_authenticated %}
                                            <span class="badge badge-danger pull-right" style="padding-top: 0.3em">
                                                {% trans "Not Confirmed" %}
                                            </span>
                                        {% endif %}
                                    </h5>
                                </div>
                                <div id="proposal-{{ forloop.counter }}" class="collapse">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {% if proposal.image %}
                                                    <img src="{% cropped_thumbnail proposal "cropping" %}" width="100%">
                                                {% else %}
                                                    <img src="{% static "manager/img/no-image.png" %}" width="100%">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-8">
                                                <div id="proposal-info-{{ forloop.counter }}">
                                                    {% if proposal.abstract %}<p><strong>{% trans "Abstract" %}:</strong> {{ proposal.abstract }}</p>{% endif %}
                                                    {% if proposal.speakers_names|title %}<p><strong>{% trans "Speakers" %}:</strong> {{ proposal.speakers_names|title }}</p>{% endif %}
                                                    {% if proposal.labels|lower %}<p><strong>{% trans "Labels" %}:</strong>
                                                      {% for label in proposal.labels %}
                                                          <span class="badge">{{ label|lower }}</span>
                                                      {% endfor %}
                                                    </p>{% endif %}
                                                    {% if proposal.type %}<p><strong>{% trans "Type" %}:</strong> {{ proposal.get_type_display }}</p>{% endif %}
                                                    {% if proposal.long_description %}<p><strong>{% trans "Description" %}:</strong> {{ proposal.long_description }}</p>{% endif %}
                                                </div>
                                                <p><a href="{% url "activity_detail" event.event_slug proposal.id %}">{% trans "View Proposal" %}</a></p>
                                                <p><a href="{% url "edit_activity_proposal" event.event_slug proposal.id %}">{% trans "Edit Proposal" %}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <div class="card-header">
                                <h5 class="card-title" style="display: contents;"">
                                    <div class="accordion-toggle">
                                        {% trans "There isn't any proposed activity yet." %}
                                    </div>
                                </h5>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <h3 class='row'>{% trans "Rejected" %}</h3>
            <br>

            <div class="row">
                <div class="col-12" id="accordion">
                    {% if rejected_activities %}
                        {% for activity in rejected_activities %}
                            <div>
                                <div class="card-header">
                                    <h5 class="card-title" style="display: contents;"">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                           href="#activity-{{ forloop.counter }}">
                                            {{ activity.title }}
                                            <i class="indicator fa fa-chevron-down pull-right"></i>
                                        </a>
                                        {% if user.is_authenticated %}
                                            <span class="badge badge-danger pull-right"
                                                  style="border-radius: 2px; padding-top: 0.3em">
                                                {% trans "Rejected" %}
                                            </span>
                                        {% endif %}
                                    </h5>
                                </div>
                                <div id="activity-{{ forloop.counter }}" class="collapse">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {% if proposal.image %}
                                                    <img src="{% cropped_thumbnail proposal "cropping" %}" width="100%">
                                                {% else %}
                                                    <img src="{% static "manager/img/no-image.png" %}" width="100%">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-8" style="padding-top: 10px">
                                              {% if activity.abstract %}<p><strong>{% trans "Abstract" %}:</strong> {{ activity.abstract }}</p>{% endif %}
                                              {% if activity.speakers_names|title %}<p><strong>{% trans "Speakers" %}:</strong> {{ activity.speakers_names|title }}</p>{% endif %}
                                              {% if activity.labels|lower %}<p><strong>{% trans "Labels" %}:</strong>
                                                {% for label in activity.labels %}
                                                    <span class="badge">{{ label|lower }}</span>
                                                {% endfor %}
                                              </p>{% endif %}
                                              {% if activity.type %}<p><strong>{% trans "Type" %}:</strong> {{ activity.get_type_display }}</p>{% endif %}
                                              {% if activity.long_description %}<p><strong>{% trans "Description" %}:</strong> {{ activity.long_description }}</p>{% endif %}
                                              <p><a href="{% url "activity_detail" event.event_slug activity.id %}">{% trans "View Proposal" %}</a></p>
                                              <p><a href="{% url "edit_activity_proposal" event.event_slug activity.id %}">{% trans "Edit Proposal" %}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <div class="card-header">
                                <h5 class="card-title" style="display: contents;"">
                                    <div class="accordion-toggle">
                                        {% trans "There isn't any rejected activity yet." %}
                                    </div>
                                </h5>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

    {% else %}
        <div class="card">
            <p>
                {% trans "There isn't any talk proposal yet." %} <a href="{% url "activity_proposal"  event_slug %}">{% trans "Submit yours!" %}</a>
            </p>
        </div>
    {% endif %}

{% endblock %}
{% block other-script %}
    <script>
        $(document).ready(function() {

            function toggleChevron(e) {
                $(e.target)
                        .prev('.card-header')
                        .find("i.indicator")
                        .toggleClass('fa-chevron-down fa-chevron-up');
            }

            $('#accordion')
                    .on('hidden.bs.collapse', toggleChevron)
                    .on('shown.bs.collapse', toggleChevron);

        });
    </script>
{% endblock %}
