{% extends "generic-bootstrap-model-form.html" %}
{% load static %}
{% load cropping thumbnail %}
{% load i18n %}
{% block other-head %}
    <script> var jqMin = jQuery.noConflict(); </script>
    {% if form.media %} {{ form.media }} {% endif %}
    <script> jQuery = $ = jqMin;</script>
{% endblock %}

{% block page-header %}{% trans "Activity Proposal" %}{% endblock %}

{% block page-name %}{% trans "Activity Proposal" %}{% endblock %}

{% block pre-form %}
    {% if event.activities_proposal_form_text and event.activities_proposal_form_text.strip %}
        <div class="col-12 alert alert-primary" role="alert">
            <p class="text-justify"> {{event.activities_proposal_form_text | safe}} </p>
        </div>
    {% endif %}
{% endblock %}

{% block form-id %}"activity_proposal"{% endblock %}

{% block form-name %}{% trans "Activity Proposal" %}{% endblock %}

{% block form-action %}"."{% endblock %}

{% block submit-button %}{% trans "Next" %}&nbsp;&nbsp;<i class="fa fa-hand-o-right"></i>{% endblock %}
