{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load filters %}
{% load static %}
{% block other-head %}
    {% render_bundle 'schedule' %}
    <style media="screen">
        .fc.fc-unthemed.fc-ltr {
            min-width: {{ rooms|get_schedule_size }}px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% trans "Activities Schedule" %}</h1>
    {% for date in dates %}
        <div class="card">
            <h2>
              {% with data=activities|get_schedule_date:date %}
                  {% blocktrans with day=forloop.counter %}
                        Day {{ day }} - {{ data }}
                  {% endblocktrans %}
              {% endwith %}
            </h2>
            <hr/>
            <div id="calendar-{{ date | escapejs }}"></div>
        </div>
    {% endfor %}
{% endblock %}

{% block other-script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var rooms = {{ rooms | safe }};
            var activities = {{ activities | safe }};
            window.libs.schedule(rooms, activities);
        });
    </script>
{% endblock %}
