{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="card">
        <h1>{% trans "The schedule is not confirmed yet" %}</h1>
        <hr/>

        <div class="row">
            <div class="col-xs-8 offset-xs-2">
                <p style="text-align: center; font-weight: 500">{% blocktrans %}
                    We're working very hard to get the schedule done for the event. Please come back tomorrow to check
                    if we
                    published it or follow us on the social networks to be up to date with the latest news of the event.
                {% endblocktrans %}</p>
            </div>
        </div>

        <div class="row">
            <img src="https://media.giphy.com/media/atHI7U3aP3kl2/giphy.gif" class="img-responsive center-block"/>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="{% url "index"  event_slug %}" class="btn btn-raised btn-primary pull-right">
                    <i class="fa fa-arrow-left"></i> {% trans "Return to the event" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
