@import '../../styles/variables';
@import '../../styles/commons';

.button {
  @extend %flex-element;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-transition: border .125s ease, background .125s ease;
  align-items: center;
  background: transparent;
  border: 2px solid $eventol-color;
  border-radius: 44px;
  box-sizing: border-box;
  color: $eventol-color;
  font-size: 14px;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
  transition: border .125s ease, background .125s ease;
}

.button:hover {
  background: $eventol-color;
  border: 2px solid $eventol-color;
  color: $light-gray;
}
