@import '../../styles/variables';
@import '../../styles/commons';

.sign-in {
  display: block;
  position: absolute;
  right: 20px;

  ul {
    @extend %flex-element;
    @extend %center-element;
    height: 37px;
    padding: 0 10px;

    li {
      -webkit-transition: background .125s ease;
      border-radius: 3px;
      font-size: 20px;
      font-weight: 400;
      margin-right: 20px;
      padding: 7px 10px;
      transition: background .125s ease;

      a {
        text-decoration: none;
      }
    }

    li:hover {
      background: $eventol-color;
      cursor: pointer;
    }
  }
}
