{% extends "generic-bootstrap-model-form.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page-header %}{% trans "Attendee Registration" %}{% endblock %}

{% block page-name %}{% trans "Attendee Registration" %}{% endblock %}

{% block form-id %}"registration"{% endblock %}

{% block form-name %}{% trans "Attendee Registration" %}{% endblock %}

{% block more-button %}
  {% if event.use_collaborators %}
    <a href="{% url "collaborator_registration"  event_slug %}" class="btn btn-primary btn-raised">
      {% trans "Register as a Collaborator" %}
    </a>
  {% endif %}
  {% if event.use_installers %}
    <a href="{% url "installer_registration"  event_slug %}" class="btn btn-primary btn-raised">
      {% trans "Register as an Installer" %}
    </a>
  {% endif %}
{% endblock %}

{% block submit-button %}{% trans "Register as a attendee" %}{% endblock %}

{% block form-action %}"{% url "attendee_registration"  event_slug %}"{% endblock %}
