{% extends "generic-bootstrap-model-form.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page-header %}{% trans "Attendee Registration" %}{% endblock %}

{% block page-name %}{% trans "Attendee Registration" %}{% endblock %}

{% block form-id %}"registration"{% endblock %}

{% block form-name %}{% trans "Attendee Registration" %}{% endblock %}

{% block more-button %}
  <a href="{% url "collaborator_registration" event_slug %}">
    <button class="btn btn-primary btn-raised">{% trans "Register as a Collaborator" %}</button>
  </a>
  <a href="{% url "installer_registration" event_slug %}">
    <button class="btn btn-primary btn-raised">{% trans "Register as an Installer" %}</button>
  </a>
{% endblock %}

{% block form-action %}"{% url "attendee_registration" event_slug %}"{% endblock %}
