.Search {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  left:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}
.Search input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 35vw;
  background: transparent;
  color: black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border: 2px solid black;
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.Search input:focus {
  border: 2px solid #1F6879;
  width: 45vw;
}
