@import '../../styles/variables';
@import '../../styles/commons';

.search {
  @extend %flex-element;
  @extend %center-element;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;

  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: border .25s ease, width .125s ease .125s;
    appearance: none;
    background: transparent;
    border: 2px solid $black;
    border-radius: 37px;
    color: $text-color;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 37px;
    outline: none;
    padding: 0 10px;
    pointer-events: all;
    transition: border .25s ease, width .125s ease .125s;
    width: 35vw;
    min-width: 150px;
  }

  input:focus {
    border: 2px solid $eventol-color;
    width: 45vw;
  }
}
