{% load i18n %}
{% load filters %}
{% if comments %}
    <h2>{% trans "Comments" %}</h2>
    <form action="/event/{{ event_slug }}/talk/detail/proposal/{{ proposal.pk }}/delete_comment/" method="POST">{% csrf_token %}
        {% for comment in comments %}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading col-xs-12">
                        <div class="panel-title col-xs-12">
                            {% if user|is_organizer:event_slug %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="delete" value="{{ comment.pk }}">
                                        <strong>
                                            {% if comment.user.get_full_name %}
                                                {{ comment.user.get_full_name|title }}
                                            {% else %}
                                                {{ comment.user.username|title }}
                                            {% endif %}
                                        </strong>
                                    </label>
                                    <div class="time pull-right">{{ comment.created }}</div>
                                </div>
                            {% else %}
                                <strong>
                                    {% if comment.user.get_full_name %}
                                        {{ comment.user.get_full_name|title }}
                                    {% else %}
                                        {{ comment.user.username|title }}
                                    {% endif %}
                                </strong>
                                <div class="time pull-right">{{ comment.created }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="body">{{ comment.body|linebreaks }}</div>
                        {% if user|is_organizer:event_slug %}
                            <div class="pull-right">
                                <label>
                                    <a href="/event/{{ event_slug }}/talk/detail/proposal/{{ proposal.pk }}/delete_comment/{{ comment.id }}">{% trans "Delete comment" %}</a>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if user|is_organizer:event_slug and comments %}
            <p><input class="btn btn-primary btn-raised" type="submit" value="{% trans 'Delete all selected' %}"></p>
        {% endif %}
    </form>
{% endif %}

{% if user.is_authenticated %}
    <!-- Add Comment form -->
    <h2>{% trans "Add a comment" %}</h2>
    <div class="well">
        <div class="alert alert-info alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{% trans 'This comment is public' %}</strong>
        </div>
        <div class="row" style="margin-left: 10px; margin-right: 10px;">
            <form action="/event/{{ event_slug }}/talk/detail/proposal/{{ proposal.pk }}/add_comment/" method="POST">{% csrf_token %}
                <div id="cform">
                    {% include "form_field.html" with field=form.body only %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-raised pull-right">{% trans "Submit" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endif %}
