{% extends "base.html" %}
{% load i18n %}
{% load filters %}
{% block page-header %}{% trans "Talks Schedule" %}{% endblock %}
{% block page-name %}{% trans "Talks Schedule" %}{% endblock %}

{% block content %}

    <div class="row text-center">
        {% for room in schedule.rooms %}
            <div class="col-md-{{ schedule.rooms|bootstrap_cols }}">
                <div class="well" style="padding: 0px 15px 0px 15px">
                    <div class="alert alert-success row"><strong>{{ room.name|title }}</strong></div>
                    <div style="height: {{ schedule.size }}px; padding-bottom: 10%">
                        {% for talk in room.talks %}
                            {% if 'dummy' in talk %}
                                <div class="well" style="height: {{ talk.dummy_size }}%; background-color: #F0F0F0">
                                    <strong>{% trans "Haven't confirmed talks in this space"%}</strong>
                                </div>
                            {% else %}
                            <a href='/sede/{{ sede_url }}/talk/detail/talk/{{ talk.pk }}'>
                                <div class="well {{ talk.talk_proposal.type.color_class }}" style="height: {{ talk.talk_size }}%">
                                    <strong>{{ talk.talk_proposal.title|title|truncatechars:50 }}</strong><br>
                                    {{ talk.schedule }}
                                </div>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}