{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load filters %}
{% load cropping %}
{% block other-head %}
    <link rel="stylesheet" type="text/css" href="/static/manager/bower_components/bootstrap-timepicker/css/bootstrap-timepicker.css">
    <link rel="stylesheet" type="text/css" href="/static/manager/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
{% endblock %}
{% block page-header %}
    {% trans "Talks" %}
    <small>{% trans "Proposal and confirmed talks" %}</small>
{% endblock %}
{% block page-name %}{% trans "Talks" noop %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                {% for talk in talks %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#talk-{{ forloop.counter }}">
                                    {{ talk.talk_proposal.title }}
                                </a>
                                <i class="indicator fa fa-chevron-up pull-right"></i>
                                {% if user.is_authenticated %}
                                    <span class="label label-success pull-right" style="border-radius: 2px; padding-top: 0.3em">
                                        {% trans "Confirmed" %}
                                    </span>
                                {% endif %}
                            </h4>
                        </div>
                        <div id="talk-{{ forloop.counter }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <img src="{% cropped_thumbnail talk.talk_proposal "cropping" %}" width="100%">
                                    </div>
                                    <div class="col-md-8 col-lg-8" style="padding-top: 10px">
                                        <p><strong>{% trans "Abstract" %}:</strong> {{ talk.talk_proposal.abstract }}</p>
                                        <p><strong>{% trans "Speakers" %}:</strong> {{ talk.talk_proposal.speakers_names|title }}</p>
                                        <p><strong>{% trans "Labels" %}:</strong> {{ talk.talk_proposal.labels|lower }}</p>
                                        <p><strong>{% trans "Type" %}:</strong> {{ talk.talk_proposal.type }}</p>
                                        <p><strong>{% trans "Room" %}:</strong> {{ talk.room }}</p>
                                        <p><strong>{% trans "Start" %}:</strong> {{ talk.start_date }}</p>
                                        <p><strong>{% trans "End" %}:</strong> {{ talk.end_date }}</p>
                                        <p><a href="/sede/{{ sede_url }}/talk/detail/talk/{{ talk.pk }}">
                                            {% trans "View Talk" %}
                                        </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for proposal in proposals %}
                    {% if not proposal.confirmed %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#proposal-{{ forloop.counter }}">
                                        {{ proposal.title }}
                                    </a>
                                    <i class="indicator fa fa-chevron-up pull-right"></i>
                                    {% if user.is_authenticated %}
                                        <span class="label label-danger pull-right" style="border-radius: 2px; padding-top: 0.3em">
                                            {% trans "Not Confirmed" %}
                                        </span>
                                    {% endif %}
                                </h4>
                            </div>
                            <div id="proposal-{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4">
                                            <img src="{% cropped_thumbnail proposal "cropping" %}" width="100%">
                                        </div>
                                        <div class="col-md-8 col-lg-8">
                                            <div id="proposal-info-{{ forloop.counter }}">
                                                <p><strong>{% trans "Abstract" %}:</strong> {{ proposal.abstract }}</p>
                                                <p><strong>{% trans "Speakers" %}:</strong> {{ proposal.speakers_names|title }}</p>
                                                <p><strong>{% trans "Labels" %}:</strong> {{ proposal.labels|lower }}</p>
                                                <p><strong>{% trans "Type" %}:</strong> {{ proposal.type }}</p>
                                                {% if user.is_staff %}
                                                    <p><a id='become-{{ forloop.counter }}' class="accordion-toggle" data-toggle="collapse" onclick="becomeTalk('proposal-info-{{ forloop.counter }}','to_talk-{{ forloop.counter }}')">
                                                        {% trans "Become Talk" %}
                                                    </a></p>
                                                {% endif %}
                                            </div>
                                            <p><a href="/sede/{{ sede_url }}/talk/detail/proposal/{{ proposal.pk }}">
                                                {% trans "View Proposal" %}
                                            </a></p>
                                            <div id="to_talk-{{ forloop.counter }}" class="panel-collapse collapse">
                                                <div class="container col-md-12 col-lg-12">
                                                    {% include 'talks/to_talk_form.html' with form=proposal.form errors=proposal.errors form_id=proposal.pk%}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block other-script %}
    <script src="/static/manager/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="/static/manager/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js" type="text/javascript"></script>
    <script>

        function becomeTalk(source, target) {
            $('#'+source).attr("style", "visibility: hidden; position: absolute");
            $('#'+target).removeClass('collapse');
        };

        $(document).ready(function() {
            $('.datepicker').datepicker();
            $('.timepicker').timepicker({
                showMeridian: false
            });

            function toggleChevron(e) {
                $(e.target)
                    .prev('.panel-heading')
                    .find("i.indicator")
                    .toggleClass('fa-chevron-down fa-chevron-up');
            };

            $('#accordion').on('hidden.bs.collapse', toggleChevron);
            $('#accordion').on('shown.bs.collapse', toggleChevron);

        });
    </script>
{% endblock %}