{% load i18n %}
<div class="row">
    <form id={{ form_id }} enctype="multipart/form-data" method="post" action='../proposal/{{ form_id }}/upload_presentation'>
        {% csrf_token %}

        {% if form.non_field_errors|length > 0 %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{% trans error %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for field in form.visible_fields %}
            <div class="col-lg-6 col-md-6">
                {% include "form_field.html" with field=field only %}
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% block extra-fields %}{% endblock %}

        {% block buttons %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-raised pull-right">{% trans "Submit" %}</button>
            </div>
        {% endblock %}
    </form>
</div>

{% block other-script %}
    <script>
        $('form').submit(function() {
            $(this).find('button[type=submit]').attr('disabled', 'disabled');
        });
    </script>
{% endblock %}