{% load staticfiles %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es-AR">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Página principal para FLISol Argentina. Festival Latinoamericano de Instalación de Software Libre">

        <title>FLISoL - Festival Latinoamericano de Instalación de Software Libre</title>
        <link href="http://flisolcaba.usla.org.ar/media/talks_thumbnails/flisol-logo_1.png.700x450_q85_box-0%2C0%2C700%2C450_crop_detail.png"
              rel="image_src"/>
        {% if debug %}
            <link rel="stylesheet" type="text/less" media="all"
                  href="{% static "manager/css/flisol-bootstrap.less" %}"/>
            <link rel="stylesheet" type="text/less" media="all" href="{% static "manager/css/flisol.less" %}"/>
            <script src="{% static 'manager/bower_components/less/dist/less.min.js' %}"></script>
        {% else %}
            {% compress css %}
                <link rel="stylesheet" type="text/less" media="all"
                      href="{% static "manager/css/flisol-bootstrap.less" %}"/>
                <link rel="stylesheet" type="text/less" media="all" href="{% static "manager/css/flisol.less" %}"/>
            {% endcompress %}
        {% endif %}
        <link href="{% static "manager/bower_components/roboto-fontface/roboto-fontface.css" %}" rel="stylesheet">
        <link href="{% static "manager/bower_components/bootstrap-material-design/dist/css/ripples.min.css" %}"
              rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        {% block other-head %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block navbar %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if sede_url %}
                    <a class="pull-left" href="/sede/{{ sede_url }}/"><img
                            src="{% static "manager/img/flisol-top-bar.png" %}" alt="Flisol Logo"></a>
                {% else %}
                    <a class="pull-left" href="#"><img src="{% static "manager/img/flisol-top-bar.png" %}"
                                                       alt="Flisol Logo"></a>
                {% endif %}
            </div>
            {% if sede_url %}
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/sede/{{ sede_url }}/registration">{% trans "Registration" %}</a></li>
                        <li><a href="/sede/{{ sede_url }}/schedule">{% trans "Talks Schedule" %}</a></li>
                        <li><a href="/sede/{{ sede_url }}/talk/proposal">{% trans "Submit your talk!" %}</a></li>
                        <li class="dropdown">
                            <a href="#" data-target="#" class="dropdown-toggle"
                               data-toggle="dropdown">{% trans "About FLISoL" %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/sede/{{ sede_url }}/FAQ"><i
                                        class="fa fa-question-circle"></i> {% trans "FAQ" noop %}</a></li>
                                <li><a href="/sede/{{ sede_url }}/event"><i
                                        class="fa fa-map-marker"></i> {% trans "Event Information" %}</a></li>
                                <li><a href="//flisol.info" target="_blank"><i
                                        class="fa fa-info-circle"></i> {% trans "More Info" %}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-target="#" class="dropdown-toggle"
                               data-toggle="dropdown">{% trans "Collaborators" %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if not user.is_authenticated %}
                                    <li><a href="/sede/{{ sede_url }}/accounts/login"><i
                                            class="fa fa-sign-in"></i> {% trans "Login" noop %}</a></li>
                                {% else %}
                                    <li><a href="/accounts/logout"><i class="fa fa-sign-out"></i> {% trans "Logout" %}
                                    </a></li>
                                    {% if perms.installation.can_add %}
                                        <li><a href="/sede/{{ sede_url }}/installation"><i
                                                class="fa fa-laptop"></i> {% trans "Submit an installation" %}</a></li>
                                    {% endif %}
                                    <li><a href="/sede/{{ sede_url }}/registration/attendee/search"><i
                                            class="fa fa-check-square-o"></i> {% trans "Administrar asistencia" %}</a>
                                    </li>
                                    <li><a href="/sede/{{ sede_url }}/registration/become_installer"><i
                                            class="fa fa-linux"></i> {% trans "Become installer" %}</a></li>
                                {% endif %}
                                <li><a href="/sede/{{ sede_url }}/registration/collaborator"><i
                                        class="fa fa-pencil-square-o"></i> {% trans "Register as a Collaborator" %}</a>
                                </li>
                                <li><a href="/sede/{{ sede_url }}/registration/installer"><i
                                        class="fa fa-linux"></i> {% trans "Register as an Installer" %}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-target="#" class="dropdown-toggle"
                               data-toggle="dropdown">{% trans "Follow Us!" %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for contact in contacts %}
                                    <li><a href="{{ contact.url }}" target="_blank">
                                        <i class="fa {{ contact.type.icon_class }}"></i> {{ contact.text }}</a>
                                    </li>
                                {% endfor %}
                                <li><a href="contact">
                                    <i class="fa fa-envelope"></i> {% trans "Contact Us!" %}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block main-content %}{% endblock %}

<!-- logos -->
<div class="well">
    {{ footer | safe }}
</div>

{% block script %}
    <script src="{% static "manager/bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "manager/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "manager/bower_components/bootstrap-material-design/dist/js/ripples.min.js" %}"></script>
    <script src="{% static "manager/bower_components/bootstrap-material-design/dist/js/material.min.js" %}"></script>
    {% block other-script %}{% endblock %}
    <script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>
{% endblock %}
<div align="right">
    <a href="//github.com/reyiyo/eventoL"><i class="fa fa-github"></i> {% trans "You have the power!" %}</a>
</div>
</body>
</html>
