{% extends "base-main.html" %}
{% load i18n %}
{% block main-content %}
    <div class="container">

        {% block content-header %}
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">{% block page-header %}{% endblock %}</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">{% trans "Home" %}</a>
                        </li>
                        <li class="active">{% block page-name %}{% endblock %}</li>
                    </ol>
                </div>
            </div>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}