{% extends "base.html" %}
{% load i18n %}
{% block page-header %}{% trans "FAQ" noop %}
    <small>{% trans "Frequently Asked Questions" %}</small>{% endblock %}
{% block page-name %}{% trans "FAQ" noop %}{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-lg-12">

            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                ¿Qué es el FLISOL?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            El Festival Latinoamericano de Instalación de Software Libre (FLISOL), es el mayor evento de
                            difusión del Software libre que se realiza desde el año 2005 en diferentes países de manera
                            simultánea. En el año 2008 participaron más de 200 ciudades en 18 países de Latinoamérica, y
                            se adoptó su realización el 4to Sábado de abril de cada año.
                            Es una oportunidad para todas aquellas personas interesadas en conocer más acerca del
                            software libre. Participando es posible entrar en contacto con el mundo del software libre,
                            conocer a otros usuarios, resolver dudas e interrogantes, intercambiar opiniones y
                            experiencias, asistir a charlas, talleres y otras actividades programadas.

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">
                                ¿En qué consiste?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Es un evento en el que se instala, de manera gratuita y totalmente legal, software libre en
                            las computadoras que llevan los asistentes. Además, se ofrecen charlas, ponencias y talleres
                            acerca de temáticas locales, nacionales e internacionales.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree">
                                ¿Quién lo organiza?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            La Comunidad de Software Libre en Latinoamérica , conformada por personas y grupos de
                            diversa índole, con el apoyo de otras entidades, principalmente educativas, y algunos
                            patrocinadores de los eventos en cada localidad.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour">
                                ¿A quién está dirigido?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            El evento está dirigido a todo tipo de público: estudiantes, docentes, académicos,
                            empresarios, trabajadores, funcionarios públicos, entusiastas y personas que no poseen mucho
                            conocimiento informático.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFive">
                                ¿Y cuánto cuesta?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            La asistencia al evento es totalmente ¡libre y gratuita!
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSix">
                                ¿Qué beneficios obtengo?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Tendrás la oportunidad de instalar software libre en tu computadora, apreciar que es una
                            real y segura alternativa a otros modelos de desarrollo y distribución de software.
                            Informarte sobre la filosofía, cultura y organización alrededor del mismo.
                            Conocer las experiencias, desarrollos e investigaciones de grupos y entidades en torno al
                            Software Libre, tanto a nivel local como nacional e internacional.
                            Tal vez encuentres una alternativa/solución en software libre para ti, tu empresa, colegio,
                            universidad e, incluso, para tu gobierno.
                            Podrás aclarar tus dudas acerca de los temas relacionados y, quizás encuentres en el
                            software libre, una alternativa de investigación, empleo y desarrollo tecnológico.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSeven">
                                Quiero ayudar, ¿qué puedo hacer?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            El evento se organiza en base al esfuerzo de las personas que quieran participar en la
                            organización. Se necesita ayuda de todo tipo: desde instaladores de software libre avanzados
                            o principiantes, hasta el infaltable café ;). Puedes registrarte para colaborar desde el
                            menú "Colaboradores" y comunicarte con nosotros
                            a través de cualquiera de los canales listados en el menú "Seguinos!".
                            Las posibilidades para colaborar son infinitas!
                            * Ayudar a la gente que venga a instalar software libre en sus máquinas.
                            * Explicarle a alguien cómo usar linux o cualquier otro programa.
                            * Dar una charla sobre cualquier cosa relacionada con software libre.
                            * Ayudar con la difusión del evento.
                            * Recibir, orientar e informar a los asistentes el día del evento.
                            * Preparar el mejor café de todos.
                            * Hacer cartelitos.
                            * Pasar música/videos.
                            * Lo que se te ocurra que pueda sumar!
                            Si te gustaría dar una mano en el área que te sientas más cómodo, no dudes en
                            contactarnos... estaremos más que agradecidos :D
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    </div>

    </div>
    <!-- /.container -->
{% endblock %}