{% load staticfiles %}
{% load filters %}
{% load i18n %}
{% load cropping %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description"
          content="Página principal para EventoL.">

    <title>EventoL</title>
    <link href="{% static 'manager/img/flisol-banner.png' %}" rel="image_src"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="{% static "manager/css/flisol-bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static "manager/css/flisol.css" %}"/>
    <link href="{% static "manager/bower_components/roboto-fontface/roboto-fontface.css" %}" rel="stylesheet">
    <link href="{% static "manager/bower_components/bootstrap-material-design/dist/css/ripples.min.css" %}"
          rel="stylesheet">
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" /><![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div style="
    width: 100%;
    text-align: center;
    display: block;
    background-color: rgb(0,149,135);
">
    <img src="{% static 'manager/img/eventol-banner.png' %}" style="height: 130px">
</div>


<div class="container">
    <h3>Encontrá tu evento!</h3>

    <div class="row" style="padding-top: 10px">
        <div class="col-md-3">
            <div class="well" style="padding: 0px 15px 0px 15px">
                <div class="row">
                    <div class="col-md-4" style="height: 80px; padding: 0">
                        <img src="{% static "manager/img/add.png" %}" width="100%" height="100%">
                    </div>
                    <div class="col-md-8" style="padding-top: 10px">
                        <a href='/registration/event/'>
                            <h4 class="list-group-item-heading">{% trans "Add event" %}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% for event in events %}
            <div class="col-md-3">
                <div class="well" style="padding: 0px 15px 0px 15px">
                    <div class="row">
                        <div class="col-md-4" style="height: 80px; padding: 0">
                            {% if event.home_image %}
                                <img src="{% cropped_thumbnail event "cropping" %}" width="100%" height="100%">
                            {% else %}
                                <img src="{% static "manager/img/no-image.png" %}" width="100%" height="100%">
                            {% endif %}
                        </div>
                        <div class="col-md-8" style="padding-top: 10px">
                            <a href='/event/{{ event.url }}/'>
                                <h4 class="list-group-item-heading">{{ event.name }}</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static "manager/bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "manager/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "manager/bower_components/bootstrap-material-design/dist/js/ripples.min.js" %}"></script>
<script src="{% static "manager/bower_components/bootstrap-material-design/dist/js/material.min.js" %}"></script>
<script>
    $(document).ready(function() {
        $.material.init();
    });
</script>
</body>
</html>