{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}
{% load i18n %}
{% block other-head %}
    <link href="{% static 'manager/img/flisol-banner.png' %}" rel="image_src"/>
    <link rel="stylesheet" href="{% static "manager/bower_components/leaflet/dist/leaflet.css" %}"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.7/leaflet.ie.css" /><![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>

    <style>
        body {
            font-family: 'Comfortaa', cursive !important;
        }
    </style>
{% endblock %}

{% block main-content %}
    <div class="img-container">
        <div class="container-text">
            <h1>FLISoL Argentina</h1>
            <a href="{% url "create_event" %}" class="btn btn-raised btn-primary btn-lg">Creá tu evento</a>
            <h2>O encontrá tu evento más cercano!</h2>
            <p><i class="fa fa-4x fa-hand-o-down"></i></p>
        </div>
    </div>


    <div class="container" style="margin-top:40px;">
        <div class="row">
            {% for event in events %}
                <div class="col-md-4">
                    <div class="well" style="padding:0;">

                        <div class="container-fluid" style="padding:0;">
                            <div class="mapbox">
                                <div class="row-fluid" id="{{ event.name }}" style="height: 180px">
                                </div>
                                <div class="row-fluid overlay asd">
                                    <div class="event-title">
                                        {{ event.name }}
                                    </div>
                                </div>
                                <div class="row-fluid overlay asd"
                                     style="top: 70%; padding-left:80%;">
                                    <a href='{% url "index" event_slug %}'>
                                        <i class="fa fa-3x fa-plus-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block other-script %}
    <script src="{% static "manager/bower_components/leaflet/dist/leaflet.js" %}"></script>
    <script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();

            function map(event_name, event_lat, event_lon) {
                var map = L.map(event_name, {
                    scrollWheelZoom: false,
                    zoomControl    : false,
                    dragging       : false,
                    keyboard       : false,
                    doubleClickZoom: false,
                    touchZoom      : false,
                    doubleClickZoom: false,
                    boxZoom        : false
                }).setView([event_lat, event_lon], 5);

                L.tileLayer('http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
                    attribution: ''
                }).addTo(map);
                map.attributionControl.setPrefix(''); // Don't show the 'Powered by Leaflet' text.

                L.marker([event_lat, event_lon]).addTo(map);
            }

            var event_place;
            {% for event in events %}
                event_place = {{ event.place|safe }};
                map('{{ event.name }}', event_place.geometry.location.lat, event_place.geometry.location.lng);
            {% endfor %}
        });

    </script>
{% endblock %}