{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load cropping %}
{% block other-head %}
    <link rel="stylesheet"
          type="text/css" href="{% static "manager/bower_components/slick-carousel/slick/slick.css" %}"/>
    <link rel="stylesheet"
          type="text/css" href="{% static "manager/bower_components/slick-carousel/slick/slick-theme.css" %}"/>

    <style>
        .slick-prev:before, .slick-next:before {
            color: black;
        }
    </style>
{% endblock %}
{% block main-content %}
    <div class="container">
        <div class="well">
            {% if sede.registration_is_open %}
                <div class="row" style="text-align: center">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3><i class="fa fa-calendar"></i> {{ sede.date|date:"l d" }} de {{ sede.date|date:"F" }}
                            - Faltan {{ sede.date|timeuntil }}!
                        </h3>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-question-circle"></i> <a href="/event/{{ event_url }}/sede/{{ sede_url }}/FAQ">¿Qué es el FLISoL?</a>
                    </h3>

                    <p>¿Quién lo organiza? ¿A quién está dirigido? ¿Cuánto cuesta? ¿Qué beneficios obtengo? Quiero
                        ayudar, ¿qué puedo hacer? Todas esas respuestas y muchas otras, acá.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-map-marker"></i> <a href="/event/{{ event_url }}/sede/{{ sede_url }}/event">¿Dónde es?</a></h3>

                    <p>El FLISoL se realiza en más de 200 ciudades a la vez. Encontrá más información sobre tu sede
                        acá.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-pencil"></i> <a href="/event/{{ event_url }}/sede/{{ sede_url }}/registration">Anotate!</a></h3>

                    <p>La registración no es obligatoria, pero nos ayuda a prepararnos para recibirte mejor! Si vas a
                        traer una máquina para instalar, también nos podés decir qué tipo de máquina es, así tenemos
                        todo listo.</p>
                </div>
            </div>
        </div>
        <h2>Charlas y Talleres</h2>

        <div class="well">
            <div id="slick_charlas">
                {% if talk_proposals %}
                    {% for talk_proposal in talk_proposals %}
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <img src="{% cropped_thumbnail talk_proposal "cropping" %}"
                                     alt="{{ talk_proposal.title }}" width="100%" heigth="100%">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <h2>{{ talk_proposal.title }}</h2>

                                <p><strong>{{ talk_proposal.abstract }}</strong></p>

                                <p>{{ talk_proposal.long_description }}</p>

                                <p>{% trans 'Speakers' %}: {{ talk_proposal.speakers_names|title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <img src="{% static "manager/img/charlas.png" %}" width="80%" alt="Charlas y Talleres">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <h2>Charlas y Talleres</h2>

                            <p><strong>Durante todo el día, para que puedas aprender y descubrir más sobre el Software
                                Libre</strong></p>

                            <p>A lo largo de la jornada, se llevarán a cabo diversas charlas y talleres para todo tipo
                                de público. No es necesario que sepas algo de informática para asistir al FLISoL. Hay
                                charlas tanto para principiantes como para entusiastas y expertos.</p>

                            <p>Algunos de los temas propuestos son: Introducción a GNU/Linux, Filosofía del Software
                                Libre, Recomendaciones para Migrar, Comunidades, Presentación y utilización de algunas
                                de las principales aplicaciones (paquete de ofimática, navegador web, editor de
                                imágenes, etc.), Experiencias con Software Libre en Educación, Conocimiento Libre,
                                Licencias, Construcción Colaborativa de Conocimiento, Software Libre y Trabajo, Hardware
                                Libre, Investigación, Edición Multimedia con aplicaciones libres, Imagen y Sonido.</p>

                            <p>Además, si tenés algo que contar y querés dar una charla, vos también podés formar parte!
                                <a href="{% url "talk_proposal" event_url sede_url %}">Envianos tu propuesta</a> o <a
                                        href="{% url "talks" event_url sede_url %}">consultá las charlas propuestas hasta el
                                    momento</a>.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <h2>Instalaciones</h2>

        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <p style="padding-top: 15px">Durante toda la jornada entusiastas voluntarios del software libre,
                        celebrarán charlas, conferencias, encuentros, talleres, <b>te ayudarán a instalar software libre
                            en tu PC o notebook</b> para que puedas probarlo y además <b>te orientarán en cómo
                            usarlo</b>. Podés acercarte de manera libre y gratuita y elegir la distribución o software
                        que quieras para llevártelo instalado, hacer consultas o aprender!
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="{% static "manager/img/installations.png" %}" width="100%">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block other-script %}
    <script src="{% static "manager/bower_components/slick-carousel/slick/slick.min.js" %}"></script>

    <script>
        $(document).ready(function() {
            $('#slick_charlas').slick({
                'autoplay': true,
                'dots'    : true
            });
        });
    </script>
{% endblock %}