{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load cropping %}
{% block main-content %}
	<div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style='background-image:url("{% static "manager/img/flisol-slider.png" %}");'></div>
            </div>
            <div class="item">
                <div class="fill" style='background-image:url("{% static "manager/img/instalaciones-slider.png" %}");'></div>
            </div>
	    	<div class="item">
                <div class="fill" style='background-image:url("{% static "manager/img/charlas-slider.png" %}");'></div>
            </div>
            <div class="item">
                <div class="fill" style='background-image:url("{% static "manager/img/todos-slider.png" %}");'></div>
            </div>
            <div class="item">
                <div class="fill" style='background-image:url("{% static "manager/img/brindis-slider.png" %}");'></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-question-circle"></i> <a href="/FAQ">¿Qué es el FLISoL?</a></h3>
                    <p>¿Quién lo organiza? ¿A quién está dirigido? ¿Cuánto cuesta? ¿Qué beneficios obtengo? Quiero ayudar, ¿qué puedo hacer? Todas esas respuestas y muchas otras, acá.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-map-marker"></i> <a href="/event">¿Dónde es?</a></h3>
                    <p>El FLISoL se realiza en muchas ciudades a la vez. Encontrá tu sede más cercana acá.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-pencil"></i> <a href="/app/registration">Anotate!</a></h3>
                    <p>La registración no es obligatoria, pero nos ayuda a prepararnos para recibirte mejor! Si vas a traer una máquina para instalar, también nos podés decir qué tipo de máquina es, así tenemos todo listo.</p>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
    
    <div class="section-colored">

        <div class="container">

            <div class="row">
                    <h2>Charlas y Talleres</h2>
                    <div id="carousel-charlas" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							{% for talk_proposal in talk_proposals %}
							<div class="item {% if forloop.first %}active{% endif %}">
							  <div class="holder col-sm-6">
							    <img class="img-responsive" src="{% cropped_thumbnail talk_proposal cropping %}" alt="{{talk_proposal.title }}" width="100%" heigth="100%" >
							  </div>
							  <div class="col-sm-6">
							    <div class="carousel-caption">
							        <h3>{{talk_proposal.title }}</h3>
							        <p><strong>{{ talk_proposal.abstract }}</strong></p>
							        <p>{{ talk_proposal.long_description }}</p>
							    </div>
							  </div>
							</div>
							{% endfor %}
						</div>
						<div class="controllers col-sm-6 col-xs-12">
						<!-- Controls -->
						  <a class="left carousel-control" href="#carousel-charlas" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left"></span>
						  </a>
						  <a class="right carousel-control" href="#carousel-charlas" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right"></span>
						  </a>
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						  	{% for talk_proposal in talk_proposals %}
						  		{% if forloop.first %}
						    		<li data-target="#carousel-charlas" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
						    	{% else %}
						    		<li data-target="#carousel-charlas" data-slide-to="{{ forloop.counter0 }}"></li>
						    	{% endif %}
						    {% endfor %}
						  </ol> 
						</div>
					</div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->
    
    <div class="section">

        <div class="container">
        
        	<div class="row">
        		<h2>Instalaciones</h2>
        		<div class="col-md-6">
                    <p>Durante toda la jornada entusiastas voluntarios del software libre, celebrarán charlas, conferencias, encuentros, talleres, <b>te ayudarán a instalar software libre en tu PC o notebook</b> para que puedas probarlo y además <b>te orientarán en cómo usarlo</b>. Podés acercarte de manera libre y gratuita y elegir la distribución que quieras!</p>
				</div>
				<div class="col-md-6">
					<div id="carousel-installations" class="carousel slide">
						<!-- Indicators -->
				        <ol class="carousel-indicators">
				            <li data-target="#carousel-installations" data-slide-to="0" class="active"></li>
				            <li data-target="#carousel-installations" data-slide-to="1"></li>
				            <li data-target="#carousel-installations" data-slide-to="2"></li>
				            <li data-target="#carousel-installations" data-slide-to="3"></li>
				            <li data-target="#carousel-installations" data-slide-to="4"></li>
				            <li data-target="#carousel-installations" data-slide-to="5"></li>
				            <li data-target="#carousel-installations" data-slide-to="6"></li>
				            <li data-target="#carousel-installations" data-slide-to="7"></li>
				            <li data-target="#carousel-installations" data-slide-to="8"></li>
				            <li data-target="#carousel-installations" data-slide-to="9"></li>
				        </ol>
				        <div class="carousel-inner">
				        	<div class="item active">
								<img class="img-responsive" src="{% static "manager/img/instalaciones1.png" %}" >
							</div>
							<div class="item">
								<img class="img-responsive" src="{% static "manager/img/instalaciones2.png" %}" >
							</div>
							<div class="item">
								<img class="img-responsive" src="{% static "manager/img/instalaciones3.png" %}" >
							</div>
							<div class="item">
								<img class="img-responsive" src="{% static "manager/img/instalaciones4.png" %}" >
							</div>
							<div class="item">
								<img class="img-responsive" src="{% static "manager/img/instalaciones5.png" %}" >
							</div>
							<div class="item">
								<img class="img-responsive" src="{% static "manager/img/instalaciones6.png" %}" >
							</div>
							<div class="item">
								<img class="img-responsive" src="{% static "manager/img/instalaciones7.png" %}" >
							</div>
							<div class="item">
								<img class="img-responsive" src="{% static "manager/img/instalaciones8.png" %}" >
							</div>
							<div class="item">
								<img class="img-responsive" src="{% static "manager/img/instalaciones9.png" %}" >
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-installations" data-slide="prev">
				            <span class="icon-prev"></span>
				        </a>
				        <a class="right carousel-control" href="#carousel-installations" data-slide="next">
				            <span class="icon-next"></span>
				        </a>
					</div>
				</div>
        	</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->
    
    <!-- logos -->
    <section class="logos">
        <div class="container">
            <div><img src="{% static "manager/img/logos/cafelug.png" %}" alt="CaFeLUG" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/gnutn.png" %}" alt="GNUTN" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/solar.png" %}" alt="SoLAr" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/agenda_digital.png" %}" alt="Agenda Digital" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/ieee.png" %}" alt="IEE" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/usla.png" %}" alt="USLA" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/kde-ar.png" %}" alt="KDE-ar" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/comunidad-fedora.png" %}" alt="Comunidad Fedora" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/ubuntuar.png" %}" alt="ubuntu-ar" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/via libre.gif" %}" alt="Fundación Vía Libre" class="img-responsive">
            </div>
            <div><img src="{% static "manager/img/logos/LogoHacklab.png" %}" alt="Hacklab Barracas" class="img-responsive">
            </div>
        </div>
    </section>
{% endblock %}

{% block other-script %}
<script>
$(window).bind("load resize slid.bs.carousel", function() {
  var imageHeight = $(".active .holder").height();
  $(".controllers").height( imageHeight );
});
</script>
{% endblock %}