@import '../../../styles/variables';
@import '../../../styles/commons';

.sign-in-narrow {

  ul {
    background: #666a73;
    margin-right: 8vw;
    opacity: .8;
    z-index: 0;

    a {
      float: unset !important;
      text-decoration: none;

      li:hover {
        background: $eventol-color;
        cursor: pointer;
      }

      li {
        -webkit-transition: background .125s ease;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        padding: 7px 10px;
        text-align: left;
        transition: background .125s ease;
      }
    }

    li {
      -webkit-transition: background .125s ease;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 400;
      padding: 7px 10px;
      text-align: left;
      transition: background .125s ease;
    }

    li:hover {
      background: $eventol-color;
      cursor: pointer;
    }
  }
}
