{% load filters %}
{% load i18n %}
<form id="{{ form_id }}" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
      method="post" action="{% url "talk_registration" event_slug form_id %}">
    {% csrf_token %}

    {% if form.non_field_errors|length > 0 %}
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{% trans error %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="col-lg-6 col-md-6">
        {% for field in form.visible_fields %}
            {% if not forloop.counter0|is_odd %}
                {% include "form_field.html" with field=field only %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-lg-6 col-md-6">
        {% for field in form.visible_fields %}
            {% if forloop.counter0|is_odd %}
                {% include "form_field.html" with field=field only %}
            {% endif %}
        {% endfor %}
    </div>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% block extra-fields %}{% endblock %}

    {% block buttons %}
        <div class="form-group">
            <button type="submit"
                    class="btn btn-primary btn-raised pull-right">{% trans "Submit" %}</button>
        </div>
    {% endblock %}
</form>