{% load formset_tags %}
{% load i18n %}
{% load filters %}
<div class="row">
    <div id="contacts-formset" data-formset-prefix="{{ contacts_formset.prefix }}" class="col-12 col-md-10 offset-md-1">
        {{ contacts_formset.management_form }}
        <div data-formset-body>
            {% if contacts_formset.non_form_errors %}
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <ul>
                        {% for error in contacts_formset.non_form_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% for contact_form in contacts_formset %}
                <div data-formset-form>
                    <div class="row" style="position: relative;">
                        {{ contact_form.id }}

                        <div class="col-sm-3 col-12">
                            {% include "form_field.html" with field=contact_form.type only %}
                        </div>

                        <div class="col-sm-4 col-12">
                            {% include "form_field.html" with field=contact_form.url only %}
                        </div>

                        <div class="col-sm-4 col-10">
                            {% include "form_field.html" with field=contact_form.text only %}
                        </div>

                        {{ contact_form.event }}
                        
                        <div class="col-sm-1 col-2" style="align-self: center;">
                            {% if contact_form.DELETE %}
                                <div style="display:none">{{ contact_form.DELETE }}</div>
                                <button type="button" class="btn btn-danger" data-formset-delete-button>
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="float-right">
            <a href="javascript:void(0)" class="btn btn-success bmd-btn-fab" id="contacts-formset-add" data-formset-add>
                <i class="material-icons">add</i>
            </a>
        </div>

        <script type="form-template" id="contacts-formset-empty-form" data-formset-empty-form>
            {% escapescript %}
                <div data-formset-form>
                    <div class="row" style="position:relative;">
                        {{ contacts_formset.empty_form.id }}
                        
                        <div class="col-sm-3 col-12">
                            {% include "form_field.html" with field=contacts_formset.empty_form.type only %}
                        </div>

                         <div class="col-sm-4 col-12">
                            {% include "form_field.html" with field=contacts_formset.empty_form.url only %}
                        </div>

                         <div class="col-sm-4 col-10">
                            {% include "form_field.html" with field=contacts_formset.empty_form.text only %}
                        </div>

                        {{ contacts_formset.empty_form.event }}
                        <div class="col-sm-1 col-2" style="align-self: center;">
                            {% if contacts_formset.empty_form.DELETE %}
                                <div style="display:none">{{ contacts_formset.empty_form.DELETE }}</div>
                                <button type="button" class="btn btn-danger"
                                        data-formset-delete-button>
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endescapescript %}
        </script>
    </div>
</div>