{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load filters %}
{% block other-head %}
    <link rel="stylesheet" type="text/css"
          href="{% static "manager/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" %}">

    <style type="text/css">
        .map_canvas {
            width: 100%;
            height: 300px;
        }
    </style>
{% endblock %}
{% block page-header %}
    {% trans 'Create an event' %}
{% endblock %}
{% block page-name %}
    {% trans 'Create an event' %}
{% endblock %}
{% block content %}
    <div class="well">
        <div class="row">
            <form class="form-horizontal" id="create_event" method="post" action="{{ request.path }}">
                {% csrf_token %}

                {% if form.non_field_errors|length > 0 %}
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{% trans error %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <h4>{% trans "What's the name of your event?" %}</h4>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                            <div class="form-group label-floating {% if form.name.errors|length > 0 %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.name.id_for_label }}">
                                    {% trans form.name.label %}{% if form.name.field.required %} *{% endif %}
                                    {% if form.name.errors|length > 0 %} <i class="fa fa-arrow-right"> </i>
                                        {{ form.name.errors.as_text }}{% endif %}
                                </label>


                                {{ form.name | addcss:'form-control' }}
                                {% if form.name.help_text %}
                                    <p class="help-block">{{ form.name.help_text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      <br>
                      <br>
                      <h4>{% trans "Select features for your event" %}</h4>
                      <div class="col-sm-12">
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_installations only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_installers only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_collaborators only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_proposals only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_schedule only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.is_flisol only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.registration_closed only %}
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>
                    <h4>{% trans 'When will your event be?' %}</h4>

                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            {% trans "If the event is taking place in more than one day, you can add all of them here." %}
                        </div>
                    </div>

                    {% include "event/event-date-formset.html" %}

                    <br>
                    <br>
                    <h4>{% trans "Choose an URL" %}</h4>
                    <br>
                    {% if form.event_slug.errors|length > 0 %}
                        <span class="fa fa-exclamation-triangle"
                              style="color: #f44336">{{ form.event_slug.errors.as_text }}</span>
                    {% endif %}
                    <div class="form-group {% if form.event_slug.errors|length > 0 %}has-error{% endif %}">
                        <label class="col-sm-4 col-xs-7 control-label" for="{{ form.event_slug.id_for_label }}"
                               style="font-size: 14px">
                            {{ protocol }}://{{ domain }}/event/
                        </label>

                        <div class="col-sm-8 col-xs-5">
                            {{ form.event_slug | addcss:'form-control' }}
                            {% if form.event_slug.help_text %}<p class="help-block">{{ form.event_slug.help_text }}</p>{% endif %}
                        </div>
                    </div>

                    <br>
                    <br>
                    <h4>{% trans "Where can people contact you?" %}</h4>
                    <br>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                            <div class="form-group label-floating {% if form.email.errors|length > 0 %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.email.id_for_label }}">
                                    {% trans form.email.label %}{% if form.email.field.required %} *{% endif %}
                                    {% if form.email.errors|length > 0 %} <i class="fa fa-arrow-right"> </i>
                                        {{ form.email.errors.as_text }}{% endif %}
                                </label>


                                {{ form.email | addcss:'form-control' }}
                                {% if form.name.help_text %}
                                    <p class="help-block">{{ form.email.help_text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <h4>{% trans "Where can people follow you?" %}</h4>
                    <br>

                    {% include "event/contacts-formset.html" %}

                    <br>
                    <br>

                    <h4>{% trans 'Where will your event be?' %}</h4>
                    {% if form.place.errors|length > 0 %}
                        <span class="fa fa-exclamation-triangle"
                              style="color: #f44336">{{ form.place.errors.as_text }}</span>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label" for="address">
                                    {% trans "Search for a place or address" %}
                                </label>

                                <div class="col-sm-8 col-xs-8">
                                    <div class="input-group">
                                        <input id="geocomplete" class="form-control" type="text">
                                        <span class="input-group-btn">
                                          <button type="button" class="btn btn-fab btn-fab-mini">
                                              <i class="fa fa-search"></i>
                                          </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                            <div class="map_canvas"></div>
                        </div>
                    </div>

                    {{ form.place }}

                    <br>
                    <br>
                    <h4>{% trans 'When is the last day to submit talk proposals?' %}</h4>
                    {% if form.limit_proposal_date.errors|length > 0 %}
                        <span class="fa fa-exclamation-triangle"
                              style="color: #f44336">{{ form.limit_proposal_date.errors.as_text }}</span>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 col-xs-12">
                            <div class="limit-proposal-picker" data-date="{% now "f" %}"></div>
                        </div>
                    </div>

                    {{ form.limit_proposal_date }}

                    <br>
                    <br>
                    <h4>{% trans "Do you want to use your own homepage?" %}</h4>
                    <p>{% trans "You probably don't want to. But if you want, we can link to your page in our index. Provide the full URL here:" %}</p>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                            <div class="form-group label-floating {% if form.external_url.errors|length > 0 %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.external_url.id_for_label }}">
                                    {% trans form.external_url.label %}{% if form.external_url.field.required %}
                                        *{% endif %}
                                    {% if form.external_url.errors|length > 0 %} <i class="fa fa-arrow-right"> </i>
                                        {{ form.external_url.errors.as_text }}{% endif %}
                                </label>


                                {{ form.external_url | addcss:'form-control' }}
                                {% if form.external_url.help_text %}
                                    <p class="help-block">{{ form.external_url.help_text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <h4>{% trans "Please provide a abstract about your event" %}</h4>
                    <br>
                    <div class="row">
                        {{ form.abstract }}
                    </div>
                    <br>
                    <br>
                    <h4>{% trans "Please provide as much information you can about your event" %}</h4>
                    <br>
                    <br>
                    <div class="row">
                        {{ form.event_information }}
                    </div>

                    <div class="form-group">
                        <button type="submit"
                                class="btn btn-primary btn-raised pull-right">{% trans "Submit" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block material %}
    <script>
        $(document).ready(function () {
            $.material.init();
        });
    </script>
{% endblock %}


{% block other-script %}
    <script src="{% static "manager/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"
            type="text/javascript"></script>
    <script src="{% static "manager/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js" %}"
            type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDqBK3undYHvG5pWYBkESlkkX_c2GSLOw&libraries=places"></script>
    <script src="{% static "manager/bower_components/geocomplete/jquery.geocomplete.min.js" %}"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>

    {{ form.media }}

    <script>
        $(document).ready(function () {
            $("#geocomplete").geocomplete({
                map: ".map_canvas",
                types: [
                    'geocode',
                    'establishment'
                ]
            });

            $("#geocomplete").bind("geocode:result", function (event, result) {
                $("#{{ form.place.id_for_label }}").val(
                    JSON.stringify(result)
                );
            });

            var event_place = $("#{{ form.place.id_for_label }}").val();

            if (event_place !== "") {
                event_place = JSON.parse(event_place);
                $("#geocomplete").geocomplete("find", event_place.formatted_address);
            }

            $('.limit-proposal-picker')
                .datepicker({
                    format: 'yyyy-mm-dd'
                })
                .on("changeDate", function (event) {
                    $("#{{ form.limit_proposal_date.id_for_label }}").val(
                        $(".limit-proposal-picker").datepicker('getFormattedDate')
                    );
                });

            var limit_proposal_date = $("#{{ form.limit_proposal_date.id_for_label }}").val();
            if (limit_proposal_date !== "") {
                $('.limit-proposal-picker').datepicker('setDate', limit_proposal_date);
            }

            $("#event-date-formset").formset({
                animateForms: true
            });

            $('#event-date-formset').on('formAdded', function (event) {
                var inputs = $(event.target).find(':input');
                $.each(inputs, function (index, input) {
                    var $input = $(input);
                    if ($input.attr('type') !== 'button') {
                        $(input).addClass('form-control');
                    }
                });
            });

            $("#contacts-formset").formset({
                animateForms: true
            });

            $('#contacts-formset').on('formAdded', function (event) {
                var inputs = $(event.target).find(':input');
                $.each(inputs, function (index, input) {
                    var $input = $(input);
                    if ($input.attr('type') !== 'button') {
                        $(input).addClass('form-control');
                    }
                });
            });
        });
    </script>
{% endblock %}
