{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load filters %}
{% block other-head %}
    <script type="text/javascript" src="{% static "build/form.js" %}" alt="form"></script>

    <style type="text/css">
        .map_canvas {
            width: 100%;
            height: 300px;
        }
        .prose-editor .ProseMirror {
            min-height: 30vh;
        }
    </style>
{% endblock %}
{% block page-header %}
    {% trans 'Create an event' %}
{% endblock %}
{% block page-name %}
    {% trans 'Create an event' %}
{% endblock %}
{% block content %}
    <div class="card">
        <div class="row">
            <form class="col-sm-12" id="create_event" method="post" action="{{ request.path }}">
                {% csrf_token %}

                {% if form.non_field_errors|length > 0 %}
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{% trans error %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="col-sm-10 offset-sm-1 col-12">
                    <br>
                    <div class="row">
                      <h4>{% trans "What's the name of your event?" %}</h4>
                      <div class="col-sm-10 offset-sm-1 col-12">
                          {% include "form_field.html" with field=form.name only %}
                      </div>
                    </div>

                    </br>
                    </br>

                    <div class="row">
                      <h4 style="margin-bottom: -20px;">{% trans 'Select tags for your event' %}</h4>
                      <div class="col-12">
                        {% include "form_field.html" with field=form.tags %}
                      </div>
                    </div>

                    <div class="row">
                      <br>
                      <br>
                      <h4>{% trans "Select features for your event" %}</h4>
                      <div class="col-12 form-row">
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_installations only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_installers only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_collaborators only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_talks only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_proposals only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.use_schedule only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.is_flisol only %}
                        </div>
                        <div class="col-sm-4">
                          {% include "form_field.html" with field=form.registration_closed only %}
                        </div>
                      </div>
                    </div>

                    </br>
                    </br>

                    <div class="row">
                      <h4>{% trans 'Activity proposal form text' %}</h4>
                      <div class="col-12">
                        {% include "form_field.html" with field=form.activities_proposal_form_text only %}
                      </div>
                    </div>

                    </br>
                    </br>
                    <h4>{% trans 'When will your event be?' %}</h4>

                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">
                            {% trans "If the event is taking place in more than one day, you can add all of them here." %}
                        </div>
                    </div>

                    {% include "event/event-date-formset.html" %}

                    <br>
                    <br>
                    <h4>{% trans "Choose an URL" %}</h4>
                    <br>
                    <div class="row">
                        <div class="offset-md-3 col-md-6 col-sm-10 offset-sm-1">
                            {% include "form_field.html" with field=form.event_slug only %}
                        </div>
                    </div>

                    <br>
                    <br>
                    <h4>{% trans "Where can people contact you?" %}</h4>
                    <br>

                    <div class="row">
                        <div class="offset-md-3 col-md-6 col-sm-10 offset-sm-1">
                            {% include "form_field.html" with field=form.email only %}
                        </div>
                    </div>
                    <br>
                    <br>

                    <h4>{% trans "Where can people follow you?" %}</h4>
                    <br>

                    {% include "event/contacts-formset.html" %}

                    <br>
                    <br>

                    <h4>{% trans 'Where will your event be?' %}</h4>
                    {% if form.place.errors|length > 0 %}
                        <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <ul>
                                <li>{{ form.place.errors.as_text }}</li>
                            </ul>
                        </div>
                    {% endif %}
                    {% comment %}
                    <div class="row">
                        <div class="col-md-10 offset-md-1 col-12">
                            <div class="form-group">
                                <label class="offset-md-1 col-md-10 col-12" for="address">
                                    {% trans "Search for a place or address" %}
                                </label>

                                <div class="offset-md-1 col-md-10 col-12">
                                    <div class="input-group">
                                        <input id="geocomplete" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1 col-12">
                            <div class="map_canvas"></div>
                        </div>
                    </div>

                    {{ form.place }}

                    <br>
                    <br>
                    {% endcomment %}
                    <div class='event-limit_proposal_date'>
                        <h4>{% trans 'When is the last day to submit talk proposals?' %}</h4>
                        {% if form.limit_proposal_date.errors|length > 0 %}
                            <div class="alert alert-dismissable alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <ul>
                                    <li>{{ form.limit_proposal_date.errors.as_text }}</li>
                                </ul>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="offset-md-3 col-md-6 col-sm-10 offset-sm-1">
                                <div class="limit-proposal-picker" data-date="{% now "f" %}"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-md-3 col-md-6 col-sm-10 offset-sm-1">
                                {% include "form_field.html" with field=form.limit_proposal_date only %}
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>

                    <h4>{% trans "Do you want to use your own homepage?" %}</h4>
                    <p>{% trans "You probably don't want to. But if you want, we can link to your page in our index. Provide the full URL here:" %}</p>
                    <br>
                    <br>
                    <div class="row">
                        <div class="offset-md-3 col-md-6 col-sm-10 offset-sm-1">
                            {% include "form_field.html" with field=form.external_url only %}
                        </div>
                    </div>
                    <br>
                    <br>

                    <h4>{% trans "Please provide an abstract about your event" %}</h4>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            {% include "form_field.html" with field=form.abstract only %}
                        </div>
                    </div>
                    <br>
                    <br>

                    <h4>{% trans "Please provide as much information you can about your event" %}</h4>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            {% include "form_field.html" with field=form.event_information only %}
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-raised float-right float-btn">
                            {% trans "Submit" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block material %}
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
            $('.dropdown-toggle').dropdown();

            var fieldsDependencies = {{ fields_dependencies | safe }};

            function is_checkbox(fieldName) {
                return fieldName.indexOf('use_') !== -1;
            }

            function updateForm(field, checked) {
                if (fieldsDependencies.hasOwnProperty(field)) {
                    fieldsDependencies[field].forEach(function(dependence){
                        var dependenceElement = $('.event-' + dependence);
                        if (checked) dependenceElement.show();
                        else {
                            if (is_checkbox(dependence)) {
                                var inputId = getFieldId(dependence);
                                var inputElement = $(inputId);
                                inputElement.prop('checked', false);
                                updateForm(dependence, false);
                            }
                            dependenceElement.hide();
                        }
                    });
                }
            };

            function getFieldId(field) {
                return '#id_event-' + field
            }

            Object.keys(fieldsDependencies).forEach(function(field){
                var fieldId = getFieldId(field);
                updateForm(field, $(fieldId).is(":checked"));
                $(fieldId).change(function(){
                    updateForm(field, this.checked)
                });
            });
        });
    </script>
{% endblock %}


{% block other-script %}
    {% comment %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDqBK3undYHvG5pWYBkESlkkX_c2GSLOw&libraries=places"></script>
    {% endcomment %}

    {{ form.media }}

    <script>
        $(document).ready(function() {
            window.libs.form('{{ form.place.id_for_label }}');
        });
    </script>
{% endblock %}
