{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load cropping %}
{% load filters %}
{% block other-head %}
    
    {% if event is not None and event.css_custom %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ event.css_custom.url }}"/>
    {% endif %}

    <style>
        .map {
            height: 300px;
            width: 100%;
        }
    </style>

    {% render_bundle 'slick' %}
    {% render_bundle 'map' %}
{% endblock %}
{% block content %}
        <div class="row" style="text-align: center">
    <div class="card">
            <div class="col-sm-12">
                <h1>{{ event.name }}</h1>
                {# show informative tags regarding user inscription to the event #}
                {% if user.is_authenticated and user|is_registered:event_slug %}
                <p>
                    <span class="label label-default">{% trans 'I am' %}</span>
                    {% if user|is_organizer:event_slug %}<span class="label label-warning">{% trans 'Organizer' %}</span>{% endif %}
                    {% if user|is_attendee:event_slug %}<span class="label label-info">{% trans 'Attendee' %}</span>{% endif %}
                    {% if event.use_collaborators and user|is_collaborator:event_slug %}<span class="label label-primary">{% trans 'Collaborator' %}</span>{% endif %}
                    {% if event.use_installers and user|is_installer:event_slug %}<span class="label label-success">{% trans 'Installer' %}</span>{% endif %}
                </p>
                {% endif %}
                <p>
                {% for tag in tags %}
                  <a href="{% url "tag_index" tag.slug %}" style='text-decoration: none;'>
                    <span class="label label-info">{{ tag.name }}</span>
                  </a>
                {% endfor %}
                </p>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-sm-12">
                {% regroup dates by date|date:"F"|localize as dates_by_month %}
                {% if event.registration_is_open %}
                    <h3><i class="fa fa-calendar"></i>
                        {% for month in dates_by_month %}
                            {% blocktrans with days=month.list|sorted_days|join:", " the_month=month.grouper %}
                                {{ the_month }} {{ days }}
                            {% endblocktrans %}
                            {% if not forloop.last %}
                                -
                            {% endif %}
                        {% endfor %}
                        {% blocktrans with year=dates.first.date|date:"Y" %}
                            - {{ year }}
                        {% endblocktrans %}
                    </h3>
                    <h4>
                        {% blocktrans with until=dates.first.date|timeuntil %}
                            In {{ until }}
                        {% endblocktrans %}
                    </h4>
                {% else %}
                    <h3><i class="fa fa-calendar"></i>
                        {% for month in dates_by_month %}
                            {% blocktrans with days=month.list|sorted_days|join:", " the_month=month.grouper %}
                                {{ the_month }} {{ days }}
                            {% endblocktrans %}
                            {% if not forloop.last %}
                                -
                            {% endif %}
                        {% endfor %}
                        {% blocktrans with year=dates.first.date|date:"Y" %}
                            - {{ year }}
                        {% endblocktrans %}
                    </h3>
                    <h4>
                        {% blocktrans with since=dates.first.date|timesince %}
                            This event was {{ since }} ago.
                        {% endblocktrans %}
                    </h4>
                {% endif %}
            </div>
        </div>

        {% if event.is_flisol %}
          <div class="row">
              <div class="col-lg-4 col-md-4">
                  <h3><i class="fa fa-question-circle"></i> <a href="{% url "FAQ" event_slug %}">¿Qué es el
                      FLISoL?</a>
                  </h3>

                  <p>¿Quién lo organiza? ¿A quién está dirigido? ¿Cuánto cuesta? ¿Qué beneficios obtengo? Quiero
                      ayudar, ¿qué puedo hacer? Todas esas respuestas y muchas otras, acá.</p>
              </div>
              <div class="col-lg-4 col-md-4">
                  <h3><i class="fa fa-usd"></i> <a href="{% url "index" event_slug %}">¿Cuánto cuesta?</a></h3>

                  <p>La entrada al evento es totalmente <strong>¡libre y gratuita!</strong></p>
              </div>
              <div class="col-lg-4 col-md-4">
                  <h3><i class="fa fa-pencil"></i> <a href="{% url "attendee_registration" event_slug %}">Anotate!</a>
                  </h3>

                  <p>La registración no es obligatoria, pero nos ayuda a prepararnos para recibirte mejor! Si vas a
                      traer una máquina para instalar, también nos podés decir qué tipo de máquina es, así tenemos
                      todo listo.</p>
              </div>
          </div>
        {% endif %}
    </div>

    <div class="card">
        <div id="map" class="map"></div>
        <div style="text-align:center">
            <h3 id="place_name"></h3>
            <div id="address1" class="event-location-address"></div>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-10 offset-xs-1">
                    <hr>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-6 col-md-offset-3 event-directions">
                    <a id="directions-car" target="_blank" href="#"><i class="material-icons">directions_car</i></a>

                    <a id="directions-walk" target="_blank" href="#"><i
                            class="material-icons">directions_walk</i></a>

                    <a id="directions-bus" target="_blank" href="#"><i class="material-icons">directions_bus</i></a>

                    <a id="directions-bike" target="_blank" href="#"><i
                            class="material-icons">directions_bike</i></a>
                </div>
            </div>
        </div>
    </div>


        <div class="row" style="text-align: center;">
    <div class="card">
            <h2>{% trans 'About the event' %}</h2>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1 col-xs-12">
                {{ event.event_information | safe }}
            </div>
        </div>
    </div>

    {% if event.use_talks %}
            <div class="row" style="text-align: center;">
        <div class="card">
                <h2>{% trans 'Talks and Workshops' %}</h2>
            </div>
            <div id="slick_charlas">
                {% if activities %}
                    {% for activity in activities %}
                        <div class="row">
                            <div class="col-sm-6">
                            <a href='{% url "activity_detail" event.event_slug activity.id %}'>
                                <img src="{% cropped_thumbnail activity "cropping" %}"
                                    alt="{{ activity.title }}" width="100%" heigth="100%">
                            </a>
                            </div>
                            <div class="col-sm-6">
                                <a style='text-decoration: none;' href='{% url "activity_detail" event.event_slug activity.id %}'>
                                <h2>{{ activity.title }}</h2>
                                </a>

                                <p><strong>{{ activity.abstract }}</strong></p>

                                <p>{{ activity.long_description }}</p>

                                <p><strong>{% trans 'Speakers' %}:</strong> {{ activity.speakers_names|title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6" style="padding-top: 30px;">
                            <img src="{% static "manager/img/charlas.png" %}" width="100%" alt="Charlas y Talleres">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                    {% if event.is_flisol %}
                            <h2>Charlas y Talleres</h2>

                            <p><strong>Durante todo el día, para que puedas aprender y descubrir más sobre el Software
                                Libre</strong></p>

                            <p>A lo largo de la jornada, se llevarán a cabo diversas charlas y talleres para todo tipo
                                de público. No es necesario que sepas algo de informática para asistir al FLISoL. Hay
                                charlas tanto para principiantes como para entusiastas y expertos.</p>

                            <p>Algunos de los temas propuestos son: Introducción a GNU/Linux, Filosofía del Software
                                Libre, Recomendaciones para Migrar, Comunidades, Presentación y utilización de algunas
                                de las principales aplicaciones (paquete de ofimática, navegador web, editor de
                                imágenes, etc.), Experiencias con Software Libre en Educación, Conocimiento Libre,
                                Licencias, Construcción Colaborativa de Conocimiento, Software Libre y Trabajo, Hardware
                                Libre, Investigación, Edición Multimedia con aplicaciones libres, Imagen y Sonido.</p>

                            <p>Además, si tenés algo que contar y querés dar una charla, vos también podés formar parte.
                                <a href="{% url "activity_proposal" event_slug %}">Envianos tu propuesta!</a></p>
                    {% else %}
                            <p> {% trans "We haven't published the activites" %}</p>
                            <p> {% trans "It means you can still send yours" %}</p>
                            <a href="{% url "activity_proposal" event_slug %}">{% trans 'Send your proposal!' %}</a></p>
                    {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if event.use_installations %}
          <div class="row" style="text-align: center;">
      <div class="card">
              <h2>{% trans 'Installations' %}</h2>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <p style="padding-top: 15px">Durante toda la jornada entusiastas voluntarios del software libre,
                      celebrarán charlas, conferencias, encuentros, talleres, <b>te ayudarán a instalar software libre
                          en tu PC o notebook</b> para que puedas probarlo y además <b>te orientarán en cómo
                          usarlo</b>. Podés acercarte de manera libre y gratuita y elegir la distribución o software
                      que quieras para llevártelo instalado, hacer consultas o aprender!
                  </p>
              </div>
              <div class="col-sm-6">
                  <img src="{% static "manager/img/installations.png" %}" width="100%">
              </div>
          </div>
      </div>
    {% endif %}

    {% if event.contacts.all|length > 0 %}
        <div class="card">
            <h3 style="text-align: center">{% trans 'Follow' %} {{ event.name }}!</h3>
            <div class="event-contacts">
                <div class="row" style="padding-top:20px;">
                    <div class="col-md-10 offset-md-1">
                        {% for contact in event.contacts.all %}
                            <a class="contact-link" href="{{ contact|get_contact_url }}">
                                <i class="fa fa-3x {{ contact.type.icon_class }}"></i>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block other-script %}
    <script>
        $(document).ready(function () {
            window.libs.slick('slick_charlas');
            window.libs.map({{ event.place|safe }});
        });
    </script>
{% endblock %}
