<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load cropping %}
{% load filters %}
{% block content %}
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/css/styles.css" %}"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static "favicon_puntocoop.ico" %}"/>
    <meta name="description" content="Event Management Software">
    <title>Punto Coop</title>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  </head>
  <body>
    <div id="root"></div>
    <div class="main">
      <script src="{% static "assets/js/carrousel.js" %}"/></script>

      <div class="carousel-wrapper">
      <img class="carousel-background" src="{% static "assets/img/fondo.png" %}" alt="Fondo">
       <button id="prevBtn" class="flecha-estilizada">
        <svg viewBox="0 0 50 50" width="40" height="40">
          <path d="M30 5 L10 25 L30 45" 
            stroke="#41B77A" 
            stroke-width="2" 
            stroke-linecap="round"
            fill="none"/>
        </svg>
        </button>
      <div class="carousel-container">
        
        <div class="carousel-slide">
            <!-- Slide 1 -->
            <div class="slide-content">
                <div class="slide-text">
                  <img class="first-image" src="{% static "assets/img/logo-color.png" %}" alt="Punto Coop">
                    <h2>Compartimos ideas. Creamos futuro</h2>
                    <h3>13 de Noviembre 2025</h3>
                    <h4>Espacio experimental Leonidas Barletta - Diagonal Norte 943, CABA</h4>
                    <p>Charlamos sobre tecnología, cooperación y transformación social</p>
                </div>
            </div>
            
                <img class="vector" src="{% static "assets/img/vector.png" %}" alt="Vector">
            <!-- Slide 2 -->
            <div class="slide-content">
                <div class="slide-text">
                    <div class="title-second-slide">Ideas que se cruzan y nuevas preguntas que se abren.</div>
                    <img class="second-image" src="{% static "assets/img/logo-color.png" %}"/ alt="Punto Coop">
                    <div class="tag-slide"></div>
                </div>
            </div>
            
            <!-- Slide 3 -->
            <div class="slide-content">
                <div class="slide-text">
                    <div class="title-third-slide">Porque otra forma de innovar es posible y empieza en Punto Coop.</div>
                    <div class="tag-slide"></div>
                </div>
            </div>
        </div>
        
        <!-- Indicadores -->
        <div class="carousel-indicators"></div>
    </div>
    <button id="nextBtn" class="flecha-estilizada">
      <svg viewBox="0 0 50 50" width="40" height="40">
        <path d="M20 5 L40 25 L20 45" 
          stroke="#41B77A" 
          stroke-width="2" 
          stroke-linecap="round"
          fill="none"/>
      </svg>
    </button>
    </div>

    <div class="about-us">
      <div class="barra-amarilla"></div>
      <div class="paratexto">
        <div class="primer-parrafo">Un espacio donde la tecnología y la cooperación se encuentran para crear, compartir y aprender en comunidad.</div>
        <div class="segundo-parrafo">Nos juntamos a pensar la tecnología con valores: desde la colaboración, el juego y el compromiso social.</div>
      </div>

      <div class="flechas">
        <img src="{% static "assets/img/flecha-amarilla.png" %}" />
        <img src="{% static "assets/img/flecha-amarilla.png" %}" />
      </div>






      <div class="quienes-somos">
        <h2>¿Quiénes lo hacen posible? </h2>
        <p><strong>Punto Coop es una iniciativa de FACTTIC</strong>, la Federación Argentina de Cooperativas de Tecnología, que reúne a cooperativas de todo el país. <strong>Equipos que trabajan desde la autogestión, la colaboración y el compromiso con sus comunidades.</strong></p>
        <div class="slider-container">
          <div class="slider-track">
            <img src="{% static "assets/img/logo-tecso.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-municipio-avellaneda.png" %}" style="height: 80px;" />
            <img src="{% static "assets/img/logo-devcoop.png" %}" style="height: 48px;" />
            <img src="{% static "assets/img/logo-nayra.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-factic-negativo.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-codesoft.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-gcoop.png" %}" style="height: 80px;" />
            <img src="{% static "assets/img/logo-farox.png" %}" style="height: 100px;" />
            <img src="{% static "assets/img/logo-ipac.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-tecso.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-municipio-avellaneda.png" %}" style="height: 80px;" />
            <img src="{% static "assets/img/logo-devcoop.png" %}" style="height: 48px;" />
            <img src="{% static "assets/img/logo-nayra.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-factic-negativo.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-codesoft.png" %}" style="height: 35px;" />
            <img src="{% static "assets/img/logo-gcoop.png" %}" style="height: 80px;" />
            <img src="{% static "assets/img/logo-farox.png" %}" style="height: 100px;" />
            <img src="{% static "assets/img/logo-ipac.png" %}" style="height: 35px;" />
          </div>
        </div>
      </div>
    </div>
    <!--
    <div id="sumate" class="sumate">
      <div class="titulo">
        <h2>¡Sumate!</h2>
        <img src="{% static "assets/img/vector-amarillo.png" %}" />
      </div>
      <div class="texto">
        <div class="primer-parrafo">Si te mueve la idea de conectar tecnología, cooperación y transformación social,
          sumate como sponsor. <strong>Escribinos a info@punto.coop.ar</strong></div>
        <div class="segundo-parrafo">¿Querés enterarte de todo lo que se viene? Te mandamos las novedades del evento
          directo al mail.</div>
      </div>
      <div class="formulario">
        <form id="emailForm" action="https://formsubmit.co/redes.puntocoop@gmail.com" method="POST">

          <input type="hidden" name="_captcha" value="false">
          <input type="hidden" name="_next" value="#" onsubmit="return false">
          <input type="hidden" name="_template" value="box">

          <input type="text" id="userEmail" name="email" placeholder="Ingresá tu correo electrónico" required>
          <p id="error-message" %}"/ style="color: red; display: none;">¡Formato de correo inválido!</p>

          <button type="submit" class="button">Enviar</button>
        </form>
      </div>

      <div id="success-message" %}"/ style="display: none; color: green;">
        ✔ Correo electrónico enviado exitosamente
      </div>

    </div>
  -->
    <footer>
      <p>Organizado por FACTTIC . 2025</p>
      <div class="rectangulos">
        <p class="paratexto-footer">Seguinos</p>
        <a href="https://www.instagram.com/punto.coop/" target="_blank">
          <img class="rectangulo-gris" src="{% static "assets/img/instagram-icon.png" %}" />
        </a>
      </div>
    </footer>
    
    </div>
 </body>
</html>
{% endblock content %}
