{% extends "base-pycon.html" %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load cropping %}
{% load filters %}
{% block other-head %}
<link rel="stylesheet" type="text/css" href="{% static "manager/bower_components/slick-carousel/slick/slick.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "manager/bower_components/slick-carousel/slick/slick-theme.css" %}" />

<link rel="stylesheet" href="{% static "manager/bower_components/leaflet/dist/leaflet.css" %}" />
<!--[if lte IE 8]><link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7.7/leaflet.ie.css" /><![endif]-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
<link rel="stylesheet" href="./estilos.css"><!-- nueva hoja de estilos-->

<style>
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .map {
        height: 300px;
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}

<div id="portada" class="color-2 relative">
        <svg id="cielo-bg" class="full-width" xmlns="http://www.w3.org/2000/svg" width="1440" height="900">
            <path d="M839,421L947,412L778,237Z" />
            <path d="M947,412L999,242L778,237Z" />
            <path d="M999,242L921,146L778,237Z" />
            <path d="M778,237L686,329L839,421Z" />
            <path d="M999,242L1090,142L921,146Z" />
            <path d="M947,412L1090,254L999,242Z" />
            <path d="M778,237L694,54L686,329Z" />
            <path d="M921,146L781,103L778,237Z" />
            <path d="M1090,254L1090,142L999,242Z" />
            <path d="M921,146L807,-37L781,103Z" />
            <path d="M781,103L694,54L778,237Z" />
            <path d="M807,-37L694,54L781,103Z" />
            <path d="M947,412L1174,448L1090,254Z" />
            <path d="M1090,254L1288,114L1090,142Z" />
            <path d="M1124,595L1174,448L947,412Z" />
            <path d="M686,329L585,461L839,421Z" />
            <path d="M839,421L1002,657L947,412Z" />
            <path d="M504,458L585,461L686,329Z" />
            <path d="M1003,-80L807,-37L921,146Z" />
            <path d="M771,673L1002,657L839,421Z" />
            <path d="M1002,657L1124,595L947,412Z" />
            <path d="M611,592L771,673L839,421Z" />
            <path d="M585,461L611,592L839,421Z" />
            <path d="M1090,142L1003,-80L921,146Z" />
            <path d="M585,461L521,567L611,592Z" />
            <path d="M408,309L504,458L686,329Z" />
            <path d="M1090,142L1211,-51L1003,-80Z" />
            <path d="M1357,255L1288,114L1090,254Z" />
            <path d="M1357,255L1090,254L1174,448Z" />
            <path d="M678,780L753,799L771,673Z" />
            <path d="M504,458L521,567L585,461Z" />
            <path d="M321,668L455,732L521,567Z" />
            <path d="M426,61L408,309L686,329Z" />
            <path d="M1381,406L1357,255L1174,448Z" />
            <path d="M753,799L940,779L771,673Z" />
            <path d="M771,673L940,779L1002,657Z" />
            <path d="M1002,657L1169,759L1124,595Z" />
            <path d="M1288,114L1211,-51L1090,142Z" />
            <path d="M1143,-217L1211,-51L1329,-207Z" />
            <path d="M694,54L426,61L686,329Z" />
            <path d="M807,-37L622,-105L694,54Z" />
            <path d="M775,-237L622,-105L807,-37Z" />
            <path d="M1003,-80L998,-179L807,-37Z" />
            <path d="M1143,-217L998,-179L1003,-80Z" />
            <path d="M1371,561L1174,448L1124,595Z" />
            <path d="M1371,561L1381,406L1174,448Z" />
            <path d="M678,780L771,673L611,592Z" />
            <path d="M479,-82L426,61L694,54Z" />
            <path d="M455,732L678,780L611,592Z" />
            <path d="M940,779L1169,759L1002,657Z" />
            <path d="M1134,941L1169,759L940,779Z" />
            <path d="M1299,731L1371,561L1124,595Z" />
            <path d="M998,-179L775,-237L807,-37Z" />
            <path d="M622,-105L479,-82L694,54Z" />
            <path d="M489,-201L479,-82L622,-105Z" />
            <path d="M998,-179L1143,-217L775,-237Z" />
            <path d="M1211,-51L1143,-217L1003,-80Z" />
            <path d="M1340,-92L1211,-51L1288,114Z" />
            <path d="M1169,759L1299,731L1124,595Z" />
            <path d="M1541,154L1340,-92L1288,114Z" />
            <path d="M1541,154L1288,114L1357,255Z" />
            <path d="M521,567L455,732L611,592Z" />
            <path d="M751,983L977,957L753,799Z" />
            <path d="M321,668L521,567L504,458Z" />
            <path d="M408,309L262,431L504,458Z" />
            <path d="M246,219L262,431L408,309Z" />
            <path d="M246,219L408,309L426,61Z" />
            <path d="M256,107L246,219L426,61Z" />
            <path d="M580,-277L489,-201L622,-105Z" />
            <path d="M256,107L426,61L318,-33Z" />
            <path d="M1381,406L1534,247L1357,255Z" />
            <path d="M1552,472L1534,247L1381,406Z" />
            <path d="M1552,472L1381,406L1371,561Z" />
            <path d="M1529,-276L580,-277L775,-237Z" />
            <path d="M775,-237L580,-277L622,-105Z" />
            <path d="M318,-33L426,61L479,-82Z" />
            <path d="M489,-201L318,-33L479,-82Z" />
            <path d="M1169,759L1274,976L1299,731Z" />
            <path d="M753,799L977,957L940,779Z" />
            <path d="M751,983L753,799L678,780Z" />
            <path d="M262,431L321,668L504,458Z" />
            <path d="M1534,247L1541,154L1357,255Z" />
            <path d="M1448,-123L1329,-207L1340,-92Z" />
            <path d="M1340,-92L1329,-207L1211,-51Z" />
            <path d="M1143,-217L1529,-276L775,-237Z" />
            <path d="M977,957L1134,941L940,779Z" />
            <path d="M1465,686L1552,472L1371,561Z" />
            <path d="M1534,247L1625,222L1541,154Z" />
            <path d="M1465,686L1371,561L1299,731Z" />
            <path d="M572,958L678,780L455,732Z" />
            <path d="M572,958L751,983L678,780Z" />
            <path d="M1199,1093L1274,976L1134,941Z" />
            <path d="M1536,822L1465,686L1299,731Z" />
            <path d="M1541,154L1448,-123L1340,-92Z" />
            <path d="M463,982L572,958L455,732Z" />
            <path d="M1654,467L1625,222L1534,247Z" />
            <path d="M1541,154L1625,114L1448,-123Z" />
            <path d="M321,668L260,733L455,732Z" />
            <path d="M85,583L260,733L321,668Z" />
            <path d="M85,583L321,668L262,431Z" />
            <path d="M246,219L122,229L262,431Z" />
            <path d="M94,156L122,229L246,219Z" />
            <path d="M94,156L246,219L256,107Z" />
            <path d="M1625,222L1625,114L1541,154Z" />
            <path d="M1134,941L1274,976L1169,759Z" />
            <path d="M1199,1093L1134,941L977,957Z" />
            <path d="M1824,90L1653,-94L1625,114Z" />
            <path d="M1552,472L1654,467L1534,247Z" />
            <path d="M1645,619L1654,467L1552,472Z" />
            <path d="M1645,619L1552,472L1465,686Z" />
            <path d="M324,905L463,982L455,732Z" />
            <path d="M572,958L665,1097L751,983Z" />
            <path d="M122,229L64,388L262,431Z" />
            <path d="M119,-28L94,156L256,107Z" />
            <path d="M119,-28L256,107L318,-33Z" />
            <path d="M489,-201L320,-285L318,-33Z" />
            <path d="M580,-277L320,-285L489,-201Z" />
            <path d="M260,733L324,905L455,732Z" />
            <path d="M751,983L831,1190L977,957Z" />
            <path d="M463,982L665,1097L572,958Z" />
            <path d="M455,1174L665,1097L463,982Z" />
            <path d="M4,235L64,388L122,229Z" />
            <path d="M260,733L174,845L324,905Z" />
            <path d="M1536,822L1645,619L1465,686Z" />
            <path d="M1488,936L1536,822L1299,731Z" />
            <path d="M113,-207L119,-28L318,-33Z" />
            <path d="M64,388L85,583L262,431Z" />
            <path d="M1274,976L1488,936L1299,731Z" />
            <path d="M914,1198L1199,1093L977,957Z" />
            <path d="M1625,114L1653,-94L1448,-123Z" />
            <path d="M1448,-123L1529,-276L1329,-207Z" />
            <path d="M1788,250L1625,114L1625,222Z" />
            <path d="M1653,-94L1529,-276L1448,-123Z" />
            <path d="M1329,-207L1529,-276L1143,-217Z" />
            <path d="M580,-277L1795,-304L320,-285Z" />
            <path d="M1536,822L1706,848L1645,619Z" />
            <path d="M1444,1089L1488,936L1274,976Z" />
            <path d="M-67,45L4,235L94,156Z" />
            <path d="M94,156L4,235L122,229Z" />
            <path d="M64,388L-85,408L85,583Z" />
            <path d="M665,1097L831,1190L751,983Z" />
            <path d="M302,1191L455,1174L463,982Z" />
            <path d="M665,1097L455,1174L831,1190Z" />
            <path d="M85,583L174,845L260,733Z" />
            <path d="M831,1190L914,1198L977,957Z" />
            <path d="M1654,467L1788,250L1625,222Z" />
            <path d="M1848,509L1788,250L1654,467Z" />
            <path d="M320,-285L113,-207L318,-33Z" />
            <path d="M119,-28L-67,45L94,156Z" />
            <path d="M1199,1093L1333,1123L1274,976Z" />
            <path d="M914,1198L1333,1123L1199,1093Z" />
            <path d="M1653,-94L1644,-251L1529,-276Z" />
            <path d="M1795,-304L1644,-251L1653,-94Z" />
            <path d="M1333,1123L1444,1089L1274,976Z" />
            <path d="M1488,936L1647,916L1536,822Z" />
            <path d="M1788,250L1824,90L1625,114Z" />
            <path d="M302,1191L463,982L324,905Z" />
            <path d="M831,1190L302,1191L914,1198Z" />
            <path d="M-13,778L115,934L174,845Z" />
            <path d="M4,235L-85,408L64,388Z" />
            <path d="M-211,403L-85,408L-276,258Z" />
            <path d="M1645,619L1848,509L1654,467Z" />
            <path d="M1788,250L1848,509L1824,90Z" />
            <path d="M1444,1089L1647,916L1488,936Z" />
            <path d="M-114,-48L-67,45L119,-28Z" />
            <path d="M1878,644L1848,509L1645,619Z" />
            <path d="M1647,916L1706,848L1536,822Z" />
            <path d="M174,845L115,934L324,905Z" />
            <path d="M-13,778L174,845L85,583Z" />
            <path d="M-85,408L-77,605L85,583Z" />
            <path d="M-77,605L-13,778L85,583Z" />
            <path d="M1706,848L1878,644L1645,619Z" />
            <path d="M1848,509L1866,-88L1824,90Z" />
            <path d="M1824,90L1866,-88L1653,-94Z" />
            <path d="M1878,644L1866,-88L1848,509Z" />
            <path d="M-276,258L-85,408L4,235Z" />
            <path d="M-85,408L-169,585L-77,605Z" />
            <path d="M113,-207L-114,-48L119,-28Z" />
            <path d="M115,934L302,1191L324,905Z" />
            <path d="M455,1174L302,1191L831,1190Z" />
            <path d="M67,1100L302,1191L115,934Z" />
            <path d="M-18,1007L67,1100L115,934Z" />
            <path d="M-77,605L-247,777L-13,778Z" />
            <path d="M-211,403L-169,585L-85,408Z" />
            <path d="M113,-207L-34,-286L-114,-48Z" />
            <path d="M320,-285L-34,-286L113,-207Z" />
            <path d="M1866,-88L1795,-304L1653,-94Z" />
            <path d="M1644,-251L1795,-304L1529,-276Z" />
            <path d="M1529,-276L1795,-304L580,-277Z" />
            <path d="M320,-285L1795,-304L-34,-286Z" />
            <path d="M-215,121L4,235L-67,45Z" />
            <path d="M-114,-48L-215,121L-67,45Z" />
            <path d="M-233,-128L-215,121L-114,-48Z" />
            <path d="M1878,644L1895,805L1866,-88Z" />
            <path d="M1706,848L1895,805L1878,644Z" />
            <path d="M1800,1031L1895,805L1706,848Z" />
            <path d="M1800,1031L1706,848L1647,916Z" />
            <path d="M-18,1007L115,934L-13,778Z" />
            <path d="M-247,777L-18,1007L-13,778Z" />
            <path d="M-215,121L-276,258L4,235Z" />
            <path d="M-211,403L-247,777L-169,585Z" />
            <path d="M-233,-128L-276,258L-215,121Z" />
            <path d="M-34,-286L-175,-192L-114,-48Z" />
            <path d="M1709,1172L1647,916L1444,1089Z" />
            <path d="M1709,1172L1800,1031L1647,916Z" />
            <path d="M-175,-192L-233,-128L-114,-48Z" />
            <path d="M914,1198L1709,1172L1333,1123Z" />
            <path d="M1333,1123L1709,1172L1444,1089Z" />
            <path d="M-169,585L-247,777L-77,605Z" />
            <path d="M-18,1007L-47,1188L67,1100Z" />
            <path d="M-276,258L-247,777L-211,403Z" />
            <path d="M1709,1172L1835,1087L1800,1031Z" />
            <path d="M1800,1031L1835,1087L1895,805Z" />
            <path d="M-239,1107L-47,1188L-18,1007Z" />
            <path d="M67,1100L-47,1188L302,1191Z" />
            <path d="M302,1191L-47,1188L914,1198Z" />
            <path d="M-276,258L-257,998L-247,777Z" />
            <path d="M-247,777L-257,998L-18,1007Z" />
            <path d="M-257,998L-239,1107L-18,1007Z" />
        </svg>

        <svg id="ciudad-bg" class="full-width z-plus-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 280">
            <linearGradient id="grdnt1">
                <stop offset="0" style="stop-color:#AAC6E7" />
                <stop offset="1" style="stop-color:#4495D1" />
            </linearGradient>
            <path class="fill-grdnt1" d="M980.5,223.6l-11.9-1.2l-10.7,4.4l-8.8,0.6L928.4,245l-2.5-12.5v-8.2v-5l-4.4-1.8l-4.5,3.2l-0.5-0.7l-4.2-2.5
    l-38.6-23.2l-19,11.9h-16.2l-0.4-13.5h29.5l-3.8-2.8h-25.8l-0.2-6h34.7l-3.8-3.2h-31.1l-0.5-17.9h14.4l-3.8-3.4H837l-0.3-8.8h16.9
    l-3.8-3.4h-13.3l-0.2-6.6h20.9l-3.8-3.4h-17.1l-0.4-10.7h15.8l-3.8-3.2h-12.1l-0.4-12.3h18.7l-3.8-2.2h-14.9l-0.7-23.6l-1.8-6.6
    l-1.8,6.3l-0.9,23.8h-16.4l-1.8,2.2h18l-0.4,12.3h-13.5l-3.8,3.2h17.2l-0.4,10.7h-18.3l-3.8,3.4h21.9l-0.3,6.6h-14.5l-3.8,3.4h18.1
    l-0.4,8.8h-9.9l-3.8,3.4h13.6l-0.7,17.9h-32l-3.8,3.2h35.7l-0.3,6h-26.7l-3.8,2.8H827l-0.5,13.5h-20.3l-3.8,2.5h23.9l-0.9,23.6
    h-31.8l-3.8,4.3h35.4l-0.3,7.6h-23.8l-3.8,1.6H825l-0.7,19.5h-7.6v4.4l-11.9-0.6v-3.8h-6.9v11.3h-5.6v-8.8l-10.1,1.2v-27.6h-12.5
    V237l-15.1-0.6v7.5l-25.8-0.6v27l-25.8,0.6v-5.6l-20.4-0.8v-20.3h-4.2v23.4l-1.1,0.1l-6.9,0.6v-11.3l-9.4-1.8l-10.6,0.4v-10.5h-4
    v10.4l-4.9,0.2v17.6l-41.5-5.6l-6.3-2.5v-44l-27-0.4v-20.1h-6.1v20l-3.9-0.2v38.3l-7.5-7.5H537v-26.4l-6.3-6.3l-25.2,0.6v-6.3
    l-3.9,0.2v-13.8h-5.2v13.9l-24.9,1v20.7H466v-29.5h-33.9V226h-7.5v4.4H417v-25.2l-12.5-3.2l-15.1,5.6v15.1H385v-15.1l-42.7-1.2v16.3
    h-15.1v-4.4h-17.6v-13.9h-1.4l5.1-6l26,6l0,0l1.1-1.7l-24.5-12l-2.8,3.2l-2.9-1.1h-7.5l-18.1,11l-5.8-0.1v3.7l-4.6,2.8l-9.6-0.9
    l11.9-18.7l10.6,8.7l2.6-0.4l-10.9-13.4h-8.5L250,208.1l-32.1-3v-9.4l-100.6-18H99.7h-6.9V48.3l-9.4-0.6V33.9l-7.5-0.6V1H31.3v88.8
    l-3.2,0.6v73.5h-4.4V25.1H13.6l1.1-12.5L-1,12.9v322.5l672.1-50.1l329.9,50.1v-121L980.5,223.6z M317.3,193.6l21.9,10.9l-23.2-9.3
    L317.3,193.6z M254.5,208.8l17.8-20.3L260,209.3L254.5,208.8z M292.3,204.4l10.6-8.2l7.1,1.7l-5.7,6.7L292.3,204.4z M903.9,217.2
    l-6.6,7.3l-1.8-2.2l-16.7-21.8L903.9,217.2z M871.9,236.8v8.8l-5.6,1.2l-4.4,5.6V265h-14.5v-9.4l-7.3-0.4l-0.3-9.7h27l-3.8-1.6
    h-23.3l-0.3-7.6h33L871.9,236.8z M901.5,243.7L901.5,243.7l-14.6,18.8V228h-3.2l-10.2,7.5l-3-3.4h-31.2l-0.7-23.6h23.1l-3.8-2.5
    h-0.6l11.3-3.8l32.7,34.7V243.7z M902.3,231.1l-2.4-3.2l8.6-7.4l3.4,3.6L902.3,231.1z" />
        </svg>

        <h2 class="text-color-1 center">10ma conferencia Argentina de Python</h2>

        <div class="center relative">
            <svg id="pyconar-logo" class="relative inline-block anim escalar" xmlns="http://www.w3.org/2000/svg" x="0px"
                y="0px" viewBox="0 0 268.8 269">
                <circle class="fill-white" cx="134.4" cy="134.4" r="134.4" />
                <path class="fill-2" d="M13.3,140.4H0.1c0.4,7.9,1.4,15.7,3,23.2h13.7V151L13.3,140.4z M235.9,140.4H33.7L29,151v12.6h208.5v-19.8
                C237.6,143.8,237.9,140.5,235.9,140.4z M247.9,141.8v21.8h17.9c1.7-7.5,2.7-15.2,3-23.1c0,0-16,0-18.3,0S247.9,141.8,247.9,141.8z
                 M134.4,0C61.8,0,2.6,57.5,0,129.5c32.8-3,55-20.5,55-20.5l91.9-68.5c0,0,6.2-5,7-4.2s-3.1,4.2-3.1,4.2S113.3,76,80.7,103.4
                c-26,22-10.2,26.5-6.5,26.5h194.6C266.4,57.7,207.1,0,134.4,0z M242.3,126.5c-1.3,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5
                c1.3,0,2.5,1,2.5,2.6C244.8,125.4,243.7,126.5,242.3,126.5z" />
                <path class="fill-1" d="M96.9,140.4l-17.4-17.1c-1.9-2.5-5-4.1-8.3-4.1c-1.6,0-3.2,0.4-4.6,1c-0.5,1.4-0.6,2.6-0.4,3.6
                c0.4,2.7,2.4,4.3,4.4,5.2l18.6,18.6c1.9,2.4,4.9,3.9,8.2,3.9c2.8,0,5.3-1.1,7.2-2.8l0,0l8.4-8.3H96.9L96.9,140.4L96.9,140.4z
                 M149.1,140.4l-18.7-18.5c-1.9-1.7-4.4-2.7-7.1-2.7c-3.1,0-5.8,1.3-7.8,3.4l-7.1,7.2h15.1l17.8,17.8c1.9,2.4,4.9,3.9,8.2,3.9
                c3.1,0,5.8-1.3,7.8-3.4l7.8-7.7H149.1L149.1,140.4z M201.6,140.4L183,122.1l0,0c-1.9-1.7-4.4-2.8-7.2-2.8c-3,0-5.7,1.2-7.6,3.2
                l-7.4,7.4H176c0,0,18.7,18.8,19.2,19.2l0,0c1.8,1.6,4.2,2.5,6.8,2.5c2.6,0,5-0.9,6.8-2.5c0.4-0.4,8.7-8.6,8.7-8.6L201.6,140.4
                L201.6,140.4z M43.7,140.4l-25.3-17.8c-0.4-0.4-1-0.6-1.6-0.6c-1.4,0-2.5,1.1-2.5,2.5c0,0.7,0.3,1.4,0.8,1.8
                c0,0,22.5,22.2,22.8,22.5l0,0c1.9,1.6,4.3,2.6,7,2.6s5.1-1,7-2.6l0,0c0.3-0.3,8.5-8.4,8.5-8.4H43.7L43.7,140.4z M247.1,120.5
                c-0.7-0.8-1.6-1.3-2.6-1.8c-1.4-0.6-2.9-1-4.4-1.2c-1-0.1-2-0.3-3-0.3h-3.5c-2.3,0-5.4,0.5-6.5,0.9c-1.3,0.4-2.6,0.9-3.6,1.8
                c-0.4,0.3-0.6,0.5-0.9,0.8l-9.1,9h34.6c0.1,0,0.1-0.1,0.1-0.3c0-2,0-4.1,0-6.1C248.2,122.3,247.8,121.4,247.1,120.5L247.1,120.5z
                 M242.3,126.5c-1.3,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5c1.3,0,2.5,1,2.5,2.6C244.8,125.4,243.7,126.5,242.3,126.5z M134.4,269
                c64.3,0,118-45.1,131.3-105.4H3.1C16.4,223.9,70.1,269,134.4,269z" />
            </svg>
            <div class="center">
                <a href="https://eventos.python.org.ar/tags/pyconar">
                    <h1 class="text-color-1 full-width anim escalar relative z-plus-1">PyConAr</h1>
                </a>
                <div class="fecha fecha margin-auto small-padding text-color-1 glow">
                    <h3 class="margin-none"><i class="fa fa-calendar"></i> 22, 23, 24 de Noviembre de 2018</h3>
                    <h4 class="margin-none">Dentro de 2 meses</h4>
                </div>
            </div>
        </div>
        <div class="block text-white social-icons center full-width relative z-plus-1 sub-anim sub-escalar">
            <a href="https://www.instagram.com/pythonargentina/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/pyconar/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://t.me/pyconar"><i class="fab fa-telegram"></i></a>
            <a href="https://twitter.com/pyconar"><i class="fab fa-twitter-square"></i></a>
        </div>

    </div>

    <svg version="1.1" id="rio-bg" class="relative" class="full-width" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        viewBox="0 0 1000 55.4">
        <polygon class="fill-grdnt1" points="-1,-1 -1,55.4 671.1,5.3 1001,55.4 1001,-1 " />
    </svg>



    <div class="big-padding">
        <div class="relative max-w-1200 margin-auto color-white big-padding medium-margin glow border-bottom border-color-2">
            <h2 class="center titulo text-color-1">Acerca del evento</h2>
            <br>
            <div class="columnas-2 left-align">
                <!--p><img alt="" src="includes/header.jpg" style="border-style:solid; border-width:0px; height:20%; margin:2px 20px; width:100%"></p-->
                <p>La PyCon (Python Conference) es una convención anual para la discusión y promoción del lenguaje
                    de programación Python. Se originó en Estados Unidos pero hoy en día se realiza en ese país, en
                    Europa, España, Brasil, Inglaterra, Italia, China, y en otros treinta países.</p>
                <p>Desde 2009 se realiza también en Argentina, ese año en CABA, siendo declarado de Interés
                    Cultural por la Ciudad de Buenos Aires. En consecuencia al carácter federal de nuestro país,
                    las siguientes ediciones se realizaron en diferentes ciudades: Córdoba, Junín, Rosario,
                    Quilmes, Rafaela, Mendoza y Bahía Blanca.</p>
                <p>La PyCon Argentina reúne a gran parte de la comunidad de habla hispana, de todas las edades y
                    con un fuerte acento en diversidad. Es gratuita y abierta a todo público, dirigida a
                    profesionales, estudiantes, académica/os, empresaria/os, trabajadora/es, funcionari/os
                    públicos, entusiastas; es decir, se trata de un evento inclusivo y para todas y todos. El
                    número de asistentes crece año a año, rondando las 600 personas en el último año, en Córdoba.</p>
                <p>En general el evento es de tres días: jueves, viernes y sábado; el primer día de talleres y
                    tutoriales y los siguientes dos días para charlas ya en formato conferencia clásica así como
                    también espacios abiertos, talleres, y diferentes ámbitos pensados para la interacción de la
                    comunidad de Python con otras comunidades, empresas e instituciones gubernamentales.</p>
                <p>El material presentado incluye todos los niveles, desde lo más orientado a principantes como los
                    talleres y tutoriales del primer día, hasta charlas de nivel avanzado con calidad
                    internacional, dadas por invitados de otros países o por disertantes locales que también dan
                    charlas similares en conferencias de otros países.</p>
                <p>El evento está organizado por la comunidad de Python Argentina, cuyo objetivo es nuclear a los
                    usuarios de Python y promover su uso.&nbsp; Python es un lenguaje de programación, de licencia
                    abierta y libre, que es cada día más popular en la enseñanza, la industria y la ciencia, y es
                    el lenguaje de mayor crecimiento en los últimos años. La comunidad cuenta con el soporte formal
                    de la Asociación Civil Python Argentina.</p>
            </div>
        </div>
    </div>

    <div class="triangle-up-color-2 relative"></div>
    <div class="relative full-width color-2 big-padding clear center">
        <div class="margin-auto max-w-1200">
            <h1 class="small-margin titulo text-color-1 inline-block">Speakers</h1>
            <p><img class="shadow" alt="carol" src="https://pyconar2018.blob.core.windows.net/pyconar-static/carol.jpg" style="height:40%; margin-bottom:2px; margin-top:2px; width:70%"></p>
        </div>
    </div>
    <div class="triangle-down-color-2 relative"></div>

    <div class="relative margin-auto medium-padding color-white big-margin center glow border-bottom border-color-1">
        <div class="well">
            <div class="row" style="text-align: center;">
                <h1 class="titulo text-color-2 inline-block">{% trans 'Talks and Workshops' %}</h1>
            </div>
            <div id="slick_charlas">
                {% if activities %}
                    {% for activity in activities %}
                        <div class="row">
                            <div class="col-sm-6">
                                <a href='{% url "activity_detail" event.slug event.uid activity.id %}'>
                                <img src="{% cropped_thumbnail activity "cropping" %}"
                                        alt="{{ activity.title }}" width="100%" heigth="100%">
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a style='text-decoration: none;' href='{% url "activity_detail" event.slug event.uid activity.id %}'>
                                    <h2>{{ activity.title }}</h2>
                                </a>
    
                                <p><strong>{{ activity.abstract }}</strong></p>
    
                                <p>{{ activity.long_description }}</p>
    
                                <p><strong>{% trans 'Speakers' %}:</strong> {{ activity.speakers_names|title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6" style="padding-top: 30px;">
                            <img src="{% static "manager/img/charlas.png" %}" width="100%" alt="Charlas y Talleres">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <h2>Charlas y Talleres</h2>
    
                            <p><strong>Durante todo el día, para que puedas aprender y descubrir más sobre el Software
                                Libre</strong></p>
    
                            <p>A lo largo de la jornada, se llevarán a cabo diversas charlas y talleres para todo tipo
                                de público. No es necesario que sepas algo de informática para asistir al FLISoL. Hay
                                charlas tanto para principiantes como para entusiastas y expertos.</p>
    
                            <p>Algunos de los temas propuestos son: Introducción a GNU/Linux, Filosofía del Software
                                Libre, Recomendaciones para Migrar, Comunidades, Presentación y utilización de algunas
                                de las principales aplicaciones (paquete de ofimática, navegador web, editor de
                                imágenes, etc.), Experiencias con Software Libre en Educación, Conocimiento Libre,
                                Licencias, Construcción Colaborativa de Conocimiento, Software Libre y Trabajo, Hardware
                                Libre, Investigación, Edición Multimedia con aplicaciones libres, Imagen y Sonido.</p>
    
                            <p>Además, si tenés algo que contar y querés dar una charla, vos también podés formar parte.
                                {% comment %} <a href="{% url "activity_proposal" event_slug event_uid %}">Envianos tu propuesta!</a></p> {% endcomment %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>            

        
    </div>

    <div class="viboras full-width relative big-margin"></div>

    <div class="relative full-width big-padding center color-white">
        <div class="margin-auto max-w-800">
            <h1 class="titulo text-color-1 inline-block">Django Girls</h1>
            <p class="subtitulo text-color-1 inline-block">La registración al Django Girls que sucederá el jueves
                22 dentro de la conferencia ya está abierta,
                <a class="text-color-2 anim escalar" href="http://pyconar.miprimeraweb.org/">anotate!</a></p>
            <p><img class="shadow" alt="" src="https://pyconar2018.blob.core.windows.net/pyconar-static/template-800x800-inscripcionesabiertas.svg.png" style="height:50%; width:90%"></p>
        </div>
    </div>
    <div class="triangle-down-color-white relative"></div>


    
    <div class="triangle-up-color-white relative"></div>
    <div class="relative full-width color-white small-padding center clear glow">
        <div class="margin-auto" style="max-width:1064px">
            <h1 class="subtitulo text-color-1">Con el apoyo de:</h1>
            <p>
                <img alt="" src="https://pyconar2018.blob.core.windows.net/pyconar-static/Sponsor-web-pyconar2018-95ppp-1065x555px.png" style="height:70%; margin-bottom:4px; margin-top:4px; width:90%">
            </p>
        </div>
    </div>


    <div class="relative margin-auto color-white border-bottom border-color-1">
        <div id="map" class="map"></div>
        <div style="text-align:center">
            <h3 id="place_name"></h3>
            <div id="address1" class="event-location-address"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <hr>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-6 col-md-offset-3 event-directions">
                    <a id="directions-car" target="_blank" href="#"><i class="material-icons">directions_car</i></a>

                    <a id="directions-walk" target="_blank" href="#"><i
                            class="material-icons">directions_walk</i></a>

                    <a id="directions-bus" target="_blank" href="#"><i class="material-icons">directions_bus</i></a>

                    <a id="directions-bike" target="_blank" href="#"><i
                            class="material-icons">directions_bike</i></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="separador-front color-1 full-width"></div><!-- un margen para que se vea el logo, esto va solo en la front -->

<footer class="main-footer color-1">
    <div id="Puente-mujer" class="full-width">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 942.7 327.3">
            <path class="fill-white" d="M285.8,234.8C399.7,139.1,530.7,15,530.7,15s13.6-11.9,10.8-14.7S517,15,517,15L195.9,254.3c0,0-81.3,62.5-195.9,73l-5.9,3.7l958.6,0.1v-3.7H263.1C250.2,327.4,195,311.6,285.8,234.8z" />
        </svg>
        <div></div>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 942.7 77.6">
            <path class="fill-white" d="M-10-36.8L-5.9,0h56.1l12.2,36.9v50.5H105V37l16.4-37h706.4c4.9,0.3,5.4,7.8,5.6,11.9v75.7h36.3V4.9c0,0,1.7-4.9,9.7-4.9s73.3,0,73.3,0v-36.7L-10-36.8z" />
        </svg>
    </div>

    <div class="event-contacts full-width">
        <h3 class="text-color-2 subtitulo">Seguir PyConAr 2018!</h3>
        <div class="col-md-10 col-md-offset-1 sub-anim sub-escalar">
            <a class="contact-link" href="https://www.instagram.com/pythonargentina/"><i class="fab fa-instagram"></i></a>
            <a class="contact-link" href="https://www.facebook.com/pyconar/"><i class="fab fa-facebook-square"></i></a>
            <a class="contact-link" href="https://t.me/pyconar"><i class="fab fa-telegram"></i></a>
            <a class="contact-link" href="https://twitter.com/pyconar"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>

    <div class="eventol">
        <a href="https://github.com/gnutn/eventoL"><i class="fab fa-github"></i> You have the power!</a>
    </div>
</footer>


{% endblock %}

{% block other-script %}
<script src="{% static "manager/bower_components/slick-carousel/slick/slick.min.js" %}"></script>
<script src="{% static "manager/bower_components/leaflet/dist/leaflet.js" %}"></script>

<script>
    $(document).ready(function () {
        $('#slick_charlas').slick({
            'autoplay': true,
            'dots': true
        });

        (function () {
            var isPlaying = true;
            $('#slick_charlas').click(function () {
                if (isPlaying) {
                    $('#slick_charlas')
                        .slick('slickSetOption', 'autoplay', false)
                        .slick('slickPause');
                    isPlaying = false;
                } else {
                    $('#slick_charlas')
                        .slick('slickSetOption', 'autoplay', true)
                        .slick('slickPlay');
                    isPlaying = true;
                }
            });
        })()
    });
</script>

<script>
    $(document).ready(function () {
        function map(event_lat, event_lon) {
            var map = L.map('map', {
                scrollWheelZoom: false,
                touchZoom: false
            }).setView([event_lat, event_lon], 14);

            L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>'
            }).addTo(map);
            map.attributionControl.setPrefix(''); // Don't show the 'Powered by Leaflet' text.
            L.marker([event_lat, event_lon]).addTo(map);
        }

        var event_place = {{ event.place|safe }};
    map(event_place.geometry.location.lat, event_place.geometry.location.lng);

    $('#place_name').text(event_place.name);
    $('#address1').html(event_place.adr_address);

    $('#directions-car').attr('href',
        'https://maps.google.com/?saddr=Current+Location&daddr=' + event_place.geometry.location.lat + ',' +
        event_place.geometry.location.lng + '&dirflg=d');

    $('#directions-walk').attr('href',
        'https://maps.google.com/?saddr=Current+Location&daddr=' + event_place.geometry.location.lat + ',' +
        event_place.geometry.location.lng + '&dirflg=w');

    $('#directions-bus').attr('href',
        'https://maps.google.com/?saddr=Current+Location&daddr=' + event_place.geometry.location.lat + ',' +
        event_place.geometry.location.lng + '&dirflg=r');

    $('#directions-bike').attr('href',
        'https://maps.google.com/?saddr=Current+Location&daddr=' + event_place.geometry.location.lat + ',' +
        event_place.geometry.location.lng + '&dirflg=b');
        });
</script>
{% endblock %}