{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load cropping %}
{% load filters %}
{% block other-head %}
<style>
body {
    background: #222f54;
}

.navbar, .navbar.navbar-light {
    background-color: #222f54;
    color: rgba(255, 255, 255, 0.84);
    padding: 0 1rem;
}
.btn-pyday {
    background-color: #222f54;
    color: #fff;
}
.btn-pyday:hover {
    background-color: #36a9e1;
    color: #fff;
}
.normal-font {
    font-size: 1rem;
    line-height: 2.0;
    text-align: justify;
}
.card-pyday-dark {
    background-color: #222f54;
    color: #fff;
}


</style> 
    {% if event is not None and event.css_custom %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ event.css_custom.url }}"/>
    {% endif %}

    <style>
        .map {
            height: 300px;
            width: 100%;
        }
    </style>

    {% render_bundle 'slick' %}
    {% render_bundle 'map' %}
{% endblock %}

{% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-xl navbar-light">
        <a class="screen-reader-skip-menu" href="#main-content" title="{% trans "Skip to content" %}" role="link">{% trans "Skip to content" %}</a>
        <a class="navbar-brand" href="/">
            {% if EVENTOL_SETTINGS.logo_header %}
                <img style="filter: invert(100%)" class="img-responsive eventol-logo" src="https://raw.githubusercontent.com/PyAr/asoc/refs/heads/master/isologos/pyar/Blanco%20y%20negro%20horizontal.png" alt="EventoL Logo">
            {% else %}
                <img class="img-responsive eventol-logo" src="https://raw.githubusercontent.com/PyAr/asoc/refs/heads/master/isologos/pyar/Monocromo%20horizontal.png" alt="EventoL Logo">
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
        {% block navbar-menu %}
            <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated and event_slug is None %}
                    <li>
                        <a href="{% url "create_event" %}" class="btn btn-raised btn-warning"
                        style="padding:0.6em; margin:1em; font-family: Roboto;">
                            {% trans "Create event" %}
                        </a>
                    </li>
                {% endif %}
                {% if event_slug is not None %}
                    {% if user.is_authenticated and user|is_organizer:event_slug %}
                        <div class="dropdown">
                            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cogs"></i> Administrá el Pyday
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url "edit_event" event_slug %}">
                                    <i class="fa fa-cogs"></i> {% trans "Edit event" %}
                                </a>
                                <a class="dropdown-item" href="{% url "event_add_image" event_slug %}">
                                    <i class="fa fa-cogs"></i> {% trans "Edit image" %}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if not user.is_authenticated or not user|is_registered_any_way:event_slug %}
                        <li>
                            <a title="Register to this event" href="{% url "attendee_registration" event_slug %}">{% trans "Check in" %}</a>
                        </li>
                    {% endif %}
                    {% if event.activity_proposal_is_open and event.use_proposals %}
                    <li>
                        <a href="{% url "activity_proposal" event_slug %}">
                        {% trans "Submit your talk" %}
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated and user|is_speaker:event_slug %}
                        <li>
                            <a href="{% url "my_proposals" event_slug %}">{% trans "My Proposals" %}</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated and user|is_registered:event_slug %}
                        <li>
                            <a href="{% url "view_ticket" event_slug %}">Mi entrada</a>
                        </li>
                    {% endif %}
                    <div class="dropdown">
                        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-th"></i> {% trans "Event" context "navbar" %}
                        </a>
                        <div class="dropdown-menu">
                            {% if event.use_schedule %}
                                <a class="dropdown-item" href="{% url "schedule" event_slug %}">
                                    <i class="fa fa-calendar"></i> {% trans "Schedule" %}
                                </a>
                                {% if user.is_authenticated and user|is_organizer:event_slug %}
                                    <a class="dropdown-item" href="{% url "rooms_list" event_slug %}">
                                        <i class="fa fa-th"></i> {% trans "Manage Rooms" %}
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if not PRIVATE_ACTIVITIES or user|is_reviewer:event_slug  %}
                                <a class="dropdown-item" href="{% url "activities" event_slug %}">
                                    <i class="fa fa-th"></i> {% trans "View Activities" %}
                                </a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url "reports" event_slug %}">
                                <i class="fa fa-bar-chart"></i> {% trans "View Reports" %}
                            </a>
                        </div>
                    </div>
                    {% if user|show_collaborators_tab:event %}
                        <div class="dropdown">
                            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-group"></i> {% trans "Collaborators" %}
                            </a>
                            <div class="dropdown-menu">
                                {% if event.use_collaborators %}
                                    {% if not user.is_authenticated or not user|is_collaborator:event_slug %}
                                        <a class="dropdown-item" href="{% url "collaborator_registration" event_slug %}">
                                            <i class="fa fa-pencil-square-o"></i> {% trans "Register as a Collaborator" %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if event.use_installers %}
                                    {% if not user.is_authenticated or not user|is_installer:event_slug %}
                                        <a class="dropdown-item" href="{% url "installer_registration" event_slug %}">
                                            <i class="fa fa-linux"></i> {% trans "Register as an Installer" %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if user.is_authenticated %}
                                    {% if user|can_take_attendance:event_slug %}
                                        <a class="dropdown-item" href="{% url "manage_attendance" event_slug %}">
                                            <i class="fa fa-check-square-o"></i> {% trans "Manage Attendance" %}
                                        </a>
                                        <a class="dropdown-item" href="{% url "attendee_registration_print_code" event_slug %}">
                                            <i class="fa fa-check-square-o"></i> {% trans "Print self-registration code" %}
                                        </a>
                                        <a class="dropdown-item" target="_blank" href="{% url "attendance_by_autoreadqr" event_slug %}">
                                            <i class="fa fa-check-square-o"></i> {% trans "Open auto-read QR code page" %}
                                        </a>
                                    {% endif %}
                                    {% if event.use_installations and user|is_installer:event_slug %}
                                        <a class="dropdown-item" href="{% url "installation" event_slug %}">
                                            <i class="fa fa-laptop"></i> {% trans "Submit an installation" %}
                                        </a>
                                    {% endif %}
                                    {% if user|is_organizer:event_slug %}
                                        <!--
                                        <li>
                                            <a href="{% url "draw" event_slug %}">
                                                <i class="fa fa-gift"></i> {% trans "Draw" %}
                                            </a>
                                        </li>
                                        -->
                                        <a class="dropdown-item" href="{% url "add_organizer" event_slug %}">
                                            <i class="fa fa-check-square-o"></i> {% trans "Manage Organizers" %}
                                        </a>
                                        <a class="dropdown-item" href="{% url "add_registration_people" event_slug %}">
                                            <i class="fa fa-pencil-square-o"></i> {% trans "Manage Registration People" %}
                                        </a>
                                        {% if event.use_talks or event.use_proposals %}
                                            <a class="dropdown-item" href="{% url "add_reviewer" event_slug %}">
                                                <i class="fa fa-pencil-square-o"></i> {% trans "Manage Rewievers" %}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="dropdown">
                        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-at"></i> ¡Seguinos!
                        </a>
                        <div class="dropdown-menu">
                            {% for contact in contacts %}
                                <a class="dropdown-item" href="{{ contact|get_contact_url }}" target="_blank">
                                    <i class="fa {{ contact.type.icon_class }}"></i> {{ contact.text }}
                                </a>
                            {% endfor %}
                            <a class="dropdown-item" href="{% url "contact" event_slug %}">
                                <i class="fa fa-envelope"></i> {% trans "Contact Us!" %}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% get_available_languages as languages %}
                {% if languages %}
                <!-- language dropdown start-->
                <div class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="vertical-middle">
                            <i class="fa fa-globe"></i>
                        </span>
                        {% trans "Languages" %}
                    </a>
                    <div class="dropdown-menu">
                        {% for lang_code, lang in languages %}
                            <a class="dropdown-item" href="#" onclick="return change_lang('{{ lang_code }}');">
                                <i class="fa fa-flag"></i> {{ lang|title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <!-- language.dropdown end -->
                {% endif %}
                {% if not user.is_authenticated %}
                    <div class="dropdown">
                        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% trans "Organizers" %}
                        </a>
                        <div class="dropdown-menu user-dropdown">
                            <a class="dropdown-item" href="{% url "account_login" %}">
                                <i class="fa fa-sign-in"></i> {% trans "Login" %}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="dropdown">
                        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="vertical-middle">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            {{ user_display }}
                        </a>
                        <div class="dropdown-menu user-dropdown">
                            <a class="dropdown-item" href="{% url "user_profile" %}">
                                <i class="fa fa-user-circle"></i> {% trans "Profile" %}
                            </a>
                            {% if not user.has_usable_password %}
                                <a class="dropdown-item" href="{% url "account_set_password" %}">
                                    <i class="fa fa-unlock-alt"></i> {% trans "Set Password" %}
                                </a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url "account_change_password" %}">
                                <i class="fa fa-refresh"></i> {% trans "Change Password" %}
                            </a>
                            <a class="dropdown-item" href="{% url "account_logout" %}">
                                <i class="fa fa-sign-out"></i> {% trans "Logout" %}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </ul>
            {% endblock navbar-menu %}
            {% block extra-nav %}{% endblock %}
        </div>
    </nav>
{% endblock %}



{% block content %}
    <div class="card">
        <div class="row" style="justify-content: center;text-align: center;">
                            <div class="col-sm-6" style="padding-top: 30px;">
                <img src="https://eventos.python.org.ar/media/images_thumbnails/PyDayHurlingham_v4_stars_cpEUh5v.png" width="100%" heigth="100%" alt="Pyday Hurlingham 2024" />
                            </div>
        </div>
        <div class="row" style="justify-content: center;text-align: center;">
            <div class="col-sm-12">
                {% regroup dates by date|date:"F"|localize as dates_by_month %}
                {% if event.registration_is_open %}
                    <h3><i class="fa fa-calendar"></i>
                        {% for month in dates_by_month %}
                            {% blocktrans with days=month.list|sorted_days|join:", " the_month=month.grouper %}
                                {{ the_month }} {{ days }}
                            {% endblocktrans %}
                            {% if not forloop.last %}
                                -
                            {% endif %}
                        {% endfor %}
                        {% blocktrans with year=dates.first.date|date:"Y" %}
                            - {{ year }}
                        {% endblocktrans %}
                    </h3>
                    <h4>
                        {% blocktrans with until=dates.first.date|timeuntil %}
                            In {{ until }}
                        {% endblocktrans %}
                    </h4>
                {% else %}
                    <h3><i class="fa fa-calendar"></i>
                        {% for month in dates_by_month %}
                            {% blocktrans with days=month.list|sorted_days|join:", " the_month=month.grouper %}
                                {{ the_month }} {{ days }}
                            {% endblocktrans %}
                            {% if not forloop.last %}
                                -
                            {% endif %}
                        {% endfor %}
                        {% blocktrans with year=dates.first.date|date:"Y" %}
                            - {{ year }}
                        {% endblocktrans %}
                    </h3>
                    <h4>
                        {% blocktrans with since=dates.first.date|timesince %}
                            This event was {{ since }} ago.

                        {% endblocktrans %}
                    </h4>
                {% endif %}
                <h4>
                    </br>
                    <a class="btn btn-raised btn-pyday" href="https://eventos.python.org.ar/events/pyday-hurlingham-2024/registration">¡ Registrate gratis !</a>
                    </br>
                    </br>
                </h4>

            </div>
        </div>

        <div class="row normal-font">
            <div class="col-sm-10 offset-sm-1 col-12">
                <div>
                El <b>PyDay</b> es un encuentro con <strong>charlas y actividades relacionadas con el lenguaje de programación Python</strong> y tecnologías afines 💻. Es de acceso<strong> libre y gratuito</strong>, con el &uacute;nico requisito de una simple registración previa. El evento est&aacute; organizado por <a href="http://www.python.org.ar/">Python Argentina</a> 🐍 junto a la <a href="https://unahur.edu.ar/">UNAHUR</a> 🎓 con el objetivo de fomentar la<strong> participaci&oacute;n y colaboración</strong> dentro de la comunidad.
                </div>
                </br>
                <div>
                Como todo evento de la comunidad de Python Argentina, el PyDay Hurlingham 2024 se regirá por nuestro <a href="http://ac.python.org.ar/#coc">Código de Conducta</a>.
                </div>
                </br>
                <div>
                <strong>📍 Se realizará en la UNAHUR:</strong>&nbsp;Tte. Origone 151, Villa Tesei, Hurlingham, Provincia de Buenos Aires.
                </div>
            </div>
        </div>

    </div>

    {% if event.place %}
        <div class="card">
            <div id="map" class="map"></div>
            <div style="text-align:center">
                <h3 id="place_name"></h3>
                <div id="address1" class="event-location-address"></div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-10 offset-1">
                        <hr>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-6 offset-md-3 event-directions">
                        <a id="directions-car" target="_blank" href="#"><i class="material-icons">directions_car</i></a>

                        <a id="directions-walk" target="_blank" href="#"><i
                                class="material-icons">directions_walk</i></a>

                        <a id="directions-bus" target="_blank" href="#"><i class="material-icons">directions_bus</i></a>

                        <a id="directions-bike" target="_blank" href="#"><i
                                class="material-icons">directions_bike</i></a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="row" style="justify-content: center;">
            <h2>Actividades</h2>
        </div>
        <div id="activityCarousel" class="carousel slide" data-ride="carousel">

            <!-- Slides -->
            <div class="carousel-inner">
                {% if activities and event.schedule_confirmed %}
                {% for activity in activities %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row">
                        <div class="col-sm-3" style="padding-top: 30px; min-height: 400px;">
                            <a href='{% url "activity_detail" event.event_slug activity.id %}'>
                                {% if activity.image and activity.cropping %}
                                <img src="{% cropped_thumbnail activity "cropping" %}" alt="{{ activity.title }}" width="100%" heigth="100%">
                                {% else %}
                                <img src="{% static "manager/img/no-image.png" %}" width="100%" heigth="100%">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <a style='text-decoration: none;' href='{% url "activity_detail" event.event_slug activity.id %}'>
                                <h2>{{ activity.title }}</h2>
                            </a>
                            <p><strong>{{ activity.abstract }}</strong></p>
                            <p>{{ activity.long_description|truncatechars:900 }}</p>
                            <p><strong>{% trans 'Speakers' %}:</strong> {{ activity.speakers_names|title }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-sm-6">
                    <h4>Muy pronto!</h4>
                </div>
                {% endif %}
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#activityCarousel" role="button" data-slide="prev" style="justify-content: flex-start;">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: gray; border-radius: 50%; border: solid gray 8px; padding: 12px;"></span>
                <span class="sr-only">Previa</span>
            </a>
            <a class="carousel-control-next" href="#activityCarousel" role="button" data-slide="next" style="justify-content: flex-end;">
                <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: gray; border-radius: 50%; border: solid gray 8px; padding: 12px;"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>

    <div class="card card-pyday-dark">
        <h3 style="text-align: center">Auspician este evento</h3>
        <div class="event-contacts">
            <div class="row pb-4">
                <div class="col-md-4 mt-4 d-flex justify-content-center align-items-center">
                    <a class="contact-link" href="https://www.datalytics.com">
                        <img src="https://www.datalytics.com/wp-content/uploads/2023/10/datalytics_logo_blanco_2023-1024x197.png" alt="Datalytics" width="85%" height="auto"/>
                    </a>
                </div>
                <div class="col-md-4 mt-4 d-flex justify-content-center align-items-center">
                    <a class="contact-link" href="https://www.devecoop.com">
                        <img src="https://devecoop.coop.ar/img/logo.png" alt="Devecoop" width="85%" height="auto"/>
                    </a>
                </div>
                <div class="col-md-4 mt-4 d-flex justify-content-center align-items-center">
                    <a class="contact-link" href="https://www.gcoop.coop">
                        <img src="https://www.gcoop.coop/sites/default/files/2022-06/logo-horizonta_2.png" alt="gcoop" width="70%" height="auto"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-pyday-dark">
        <h3 style="text-align: center">Organizan</h3>
        <div class="event-contacts">
            <div class="row pb-4">
                <div class="col-md-4 mt-4 d-flex justify-content-center align-items-center">
                    <a class="contact-link" href="https://ac.python.org.ar/">
                        <img style="filter: invert(100%)"  src="https://raw.githubusercontent.com/PyAr/asoc/refs/heads/master/isologos/pyar/Blanco%20y%20negro%20horizontal.png"  alt="Pyar" width="75%" height="auto"/>
                    </a>
                </div>
                <div class="col-md-4 mt-4 d-flex justify-content-center align-items-center">
                       <i class="fa fa-3x fa-plus"></i>
                </div>
                <div class="col-md-4 mt-4 d-flex justify-content-center align-items-center">
                    <a class="contact-link" href="https://unahur.edu.ar/">
                        <img style="filter: grayscale(1) brightness(10);"  src="https://www.nodal.am/wp-content/uploads/2017/07/UNAHUR.png" width="100%" height="auto"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if event.contacts.all|length > 0 %}
        <div class="card card-pyday-dark">
            <h3 style="text-align: center">¡Seguinos en redes!</h3>
            <div class="event-contacts">
                <div class="row" style="padding-top:20px;">
                    <div class="col-md-10 offset-md-1">
                        {% for contact in event.contacts.all %}
                            <a class="contact-link" href="{{ contact|get_contact_url }}">
                                <i class="fa fa-3x {{ contact.type.icon_class }}"></i>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}
{% block other-script %}
    <script>
        $(document).ready(function () {
            {% if event.place %}
                window.libs.map({{ event.place|safe }});
            {% endif %}
        });
    </script>
{% endblock %}
