{% extends "generic-bootstrap-model-form.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block page-header %}{% trans "Add review staff" %}{% endblock %}

{% block page-name %}{% trans "Add review staff" %}{% endblock %}

{% block pre-form %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div class="row">
            <div class="col-12" style="display: contents;">
                <span class="fa fa-info-circle fa-5x mr-3"></span>
                <span class="h-100 justify-content-center align-self-center w-75">
                    {% blocktrans %}People who can review and vote on activities{% endblocktrans %}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-12">
            <h3>{% trans "Current review staff:" %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 col-12">
            <div class="list-group">
                {% for review_person in review_people %}
                    {% user_display review_person.event_user.user as user_display %}
                    {% get_social_accounts review_person.event_user.user as accounts %}
                    <div class="list-group-item">
                        <div class="row-picture m-0">
                            {% if review_person.event_user.user.socialaccount_set.all|length > 0 %}
                                <img class="circle" src="{{ review_person.event_user.user.socialaccount_set.all.0.get_avatar_url }}"/>
                            {% else %}
                                <img class="rounded-circle mx-auto d-block" height='80px' src="{% static "manager/img/no-image.png" %}">
                            {% endif %}
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading">{{ user_display }}</h4>
                            <p class="list-group-item-text">
                                {{ review_person.event_user.user.first_name }} {{ organizer.event_user.user.last_name }}
                            </p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-12">
            <h3>{% trans "Add a new review person:" %}</h3>
            <hr>
        </div>
    </div>
{% endblock %}
{% block form-id %}"add-review-people"{% endblock %}
{% block form-name %}{% trans "Add" %}{% endblock %}
{% block form-action %}"{% url "add_reviewer" event_slug %}"{% endblock %}
{% block submit-button %}{% trans "Add" %}{% endblock %}
{% block other-script %}
    {{ form.media }}
{% endblock %}
