<!doctype html>
{% load staticfiles %}
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <meta name="description" content="Event Management Software">
    <title>EventoL</title>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/javascript" src="{% static "build/vendors.js" %}" alt="vendors"></script>
    <script type="text/javascript" src="{% static "build/base.js" %}" alt="base"></script>
    <script type="text/javascript" src="{% static "build/slick.js" %}" alt="slick"></script>
    <script type="text/javascript" src="{% static "build/map.js" %}" alt="map"></script>
    <script type="text/javascript" src="{% static "build/EventHome.js" %}" alt="EventHome"></script>
    <script>
      {% get_available_languages as languages %}
      {% if languages %}
        var languages = [
          {% for lang_code, lang in languages %}
            {code: '{{ lang_code }}', name: '{{ lang }}'},
          {% endfor %}
        ];
      {% endif %}

      window.render_components({
          tag_slug: '{{ tag.slug }}',

        {% if tag.message and tag.message.strip %}
          message: '{{ tag.message }}',
        {% elif EVENTOL_SETTINGS.message and EVENTOL_SETTINGS.message.strip %}
          message: '{{ EVENTOL_SETTINGS.message }}',
        {% endif %}

        {% if tag.background %}
          background: '{{ tag.background.url }}',
        {% elif EVENTOL_SETTINGS.background %}
          background: '{{ EVENTOL_SETTINGS.background.url }}',
        {% endif %}

        {% if tag.logo_header %}
          logo_header: '{{ tag.logo_header.url }}',
        {% elif EVENTOL_SETTINGS.logo_header %}
          logo_header: '{{ EVENTOL_SETTINGS.logo_header.url }}',
        {% endif %}

        {% if tag.logo_landing %}
          logo_landing: '{{ tag.logo_landing.url }}',
        {% elif EVENTOL_SETTINGS.logo_landing %}
          logo_landing: '{{ EVENTOL_SETTINGS.logo_landing.url }}',
        {% endif %}

        {% if user.is_authenticated %}
          user: {
            username: '{{ user.username | safe }}',
            first_name: '{{ user.first_name | safe }}',
            last_name: '{{ user.last_name | safe }}'
          },
        {% endif %}

        {% if languages %}
          languages: languages,
          onChangeLanguage: function change_lang(language_code) {
            $.post(
              "{% url 'set_language' %}",
              {language: language_code, csrfmiddlewaretoken: "{{ csrf_token }}"},
              function(data, status, xhr) {
                location.reload();
              }
            );
          },
        {% endif %}
      });
    </script>
  </body>
</html>
