{% extends "generic-bootstrap-multiple-model-form.html" %}
{% load static %}
{% load i18n %}
{% block other-head %}{% if user.is_authenticated %}
<meta http-equiv="refresh" content="30; url={% url 'account_logout' %}?next={{ request.get_full_path|urlencode }}" />
{% endif %}{% endblock %}

{% block page-header %}{% trans "Attendee Registration" %}{% endblock %}

{% block page-name %}{% trans "Attendee Registration" %}{% endblock %}

{% block pre-form %}
    {% if user.is_authenticated %}
    <div class="alert alert-info alert-dismissable">
        <div class="row">
            <div class="col-md-10 offset-md-1" style="font-weight: 500;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h1><i class="fa fa-info-warning"></i> {% trans "You are logged in!" %}</h1>
                <p>{% blocktrans %}Please close your session, do not leave it open!. This page can remain open without anybody being logged in. You will be logged out in 30 seconds.{% endblocktrans %}
                    <a href="{% url 'account_logout' %}?next={{ request.get_full_path|urlencode }}"></a></p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="alert alert-info alert-dismissable">
      <div class="row">
          <div class="col-md-10 offset-md-1" style="font-weight: 500;">
              <h1><i class="fa fa-info-circle"></i> {% trans "Registration Instructions" %}</h1>
              <p>
                  {% trans "Please scan your ticket using the webcam" %}<br />
                  {% trans "Center the QR Code in the camera display below" %}
              </p>
          </div>
      </div>
    </div>
{% endblock %}

{% block form-id %}"registration"{% endblock %}

{% block form-name %}{% trans "Attendee Registration" %}{% endblock %}

{% block form-action %}"{% url "attendance_by_autoreadqr"  event_slug %}"{% endblock %}

{% block buttons %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div id="qr_reader" class="qrcode" style="width:100%;height:50vh; margin: 0 auto; display: flex; justify-content: center;"></div>
            <span id="error" class="center"></span>
        </div>
    </div>
{% endblock %}

{% block other-script %}
    <script type="text/javascript" src="{% static "build/qrcode.js" %}" alt="qrcode"></script>
    <script>
        $(document).ready(function () {
            var url = '{% url "attendance_by_autoreadqr"  event_slug %}';
            var eventRegistrationCode = '{{ event_registration_code }}';
            var errorMessage = '{% trans "There is a problem with the camera. Please, enable access or try manual entry." %}';
            window.libs.qrcode.startAutoQr('qr_reader',  url, eventRegistrationCode, errorMessage);
        });
    </script>
{% endblock %}
