{% extends "base.html" %}
{% load i18n %}
{% block page-header %}Por favor confirmá tu correo{% endblock %}
{% block content %}
    <div class="card">
        <p>Te hemos enviado un correo electrónico a la dirección que nos has proporcionado. Por favor, revisá
        tu correo y sigue las instrucciones para que podamos encviarte el ticket para el evento.</p>
        Si no recibís el correo en un par de minutos, revisa tu bandeja de spam. Si no está ahí, podes mandarnos un correo a 
        info@punto.coop.ar y te ayudaremos.
        <a href="{% url "index"  event_slug %}" class="btn btn-raised btn-primary">
            <i class="fa fa-arrow-left"></i>Volver al evento
        </a>
    </div>
{% endblock %}
