{% extends "generic-bootstrap-multiple-model-form.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page-header %}{% trans "Attendee Registration" %}{% endblock %}

{% block page-name %}{% trans "Attendee Registration" %}{% endblock %}

{% block pre-form %}
    <div class="alert alert-info alert-dismissable">
        <div class="row">
            <div class="col-md-10 offset-md-1" style="font-weight: 500;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h1><i class="fa fa-info-circle"></i> {% trans "Registration Instructions" %}</h1>
                <ol>
                    <li>Buscar un asistente que se pre-registró: Se puede buscar por nombre, apellido o email.
                        Ingresar algunas letras y esperar que el sistema lo sugiera.
                    </li>
                    <li>Si aparece sugerido en la lista, seleccionarlo y presionar "<strong>Marcar como
                        Presente</strong>". Esto nos idicará que asistió al evento.
                    </li>
                    <li>Si no aparece sugerido, hacer click en "<strong>Registrar Nuevo Asistente</strong>" y cargar los
                        datos del mismo.
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block form-id %}"registration"{% endblock %}

{% block form-name %}{% trans "Attendee Registration" %}{% endblock %}

{% block form-action %}"{% url "manage_attendance"  event_slug %}"{% endblock %}

{% block buttons %}
    <div class="form-group">
        <div class="col-12 text-center">
            <button id="button1id" name="button1id" class="btn btn-raised btn-success">
                {% trans "Mark as present" %}
            </button>
            <a href="{% url "attendee_registration_by_collaborator"  event_slug %}" class="btn btn-raised btn-primary">
                {% trans "Register new attendee" %}
            </a>
            <button type="button" class="btn btn-raised btn-info" data-toggle="modal" data-target="#QRModal">
                {% trans "Scan QR" %}
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div id="QRModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% trans "Center the QR Code in the camera display below " %}</h4>
                </div>
                <div class="modal-body">
                    <div id="qr_reader" class="qrcode" style="width:300px;height:300px; margin: 0 auto;"></div>
                    <span id="error" class="center"></span>
                </div>
            </div>
            <
        </div>
    </div>
{% endblock %}

{% block other-script %}
    <script type="text/javascript" src="{% static "build/qrcode.js" %}" alt="qrcode"></script>
    <script>
        $(document).ready(function () {
            var errorMessage = '{% trans "There is a problem with the camera. Please, enable access or try manual entry." %}';

            $('#QRModal').on('show.bs.modal', () => {
                window.libs.qrcode.registrationQr('QRModal', 'qr_reader', errorMessage);
            });

            $('#QRModal').on('hidden.bs.modal', () => {
                window.libs.qrcode.stop('qr_reader');
            });
        });
    </script>
{% endblock %}
