{% extends "base.html" %}
{% load i18n %}
{% block page-header %}{% trans "Event Information" %}{% endblock %}
{% block page-name %}{% trans "Event Information" %}{% endblock %}
{% block content %}
<section>
<h2>Sábado 26 de Abril</h2>
<hr />
<h3>Lugar y hora</h3>
<ul>
    <li>Universidad Tecnológica Nacional - Facultad Regional Buenos Aires (UTN - FRBA)</li>
    	<ul>
        	<li>Av. Medrano N° 951</li>
        </ul>
    <li>Sábado 26 de Abril</li>
    <li>Horario: de 10:00 a 18:00</li>
    <li>Podés venir en cualquier horario de esa franja horaria!</li>
</ul>

<h3>Cómo llegar</h3>
<ul>
	<li><strong>Colectivos:</strong> 19, 24, 26, 36, 71, 92, 99, 106, 109, 124, 127, 128, 140, 151, 160, 168</li>
	<li><strong>Subtes (Metro):</strong> MEDRANO (Línea B)</li>
</ul>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-58.421757817268364%2C-34.60011485946708%2C-58.41821730136871%2C-34.59751400592028&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/#map=18/-34.59881/-58.41999&amp;layers=N">Ver mapa más grande</a></small>
</section>
<section>
<h2>Viernes 25 de Abril</h2>
<hr />
<h3>Lugar y hora</h3>
<ul>
    <li>Grupo de Trabajo de Software Libre - Agenda Digital</li>
    	<ul>
        	<li>Av. Presidente Roque Saenz Peña (Diagonal Norte) N° 511</li>
        </ul>
    <li>Viernes 15 de Abril</li>
    <li>Horario: 12:30 a 20:00</li>
    <li>Podés venir en cualquier horario de esa franja horaria!</li>
</ul>

<h3>Cómo llegar</h3>
<ul>
	<li><strong>Colectivos:</strong> 6, 7, 8, 22, 24, 26, 28, 29, 33, 50, 56, 61, 62, 64, 74, 86, 91, 93, 99, 103, 105, 111, 126, 130, 140, 143, 146, 152, 159, 180, 195</strong></li>
	<li><strong>Subtes (Metro):</strong> BOLIVAR (Línea E), CATEDRAL (Línea D), FLORIDA (Línea B), PERU (Línea A), PIEDRAS (Línea A), PLAZA DE MAYO (Línea A)</li>
</ul>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-58.37515980005264%2C-34.60823261954117%2C-58.37338954210281%2C-34.606932330061724&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/#map=19/-34.60758/-58.37427&amp;layers=N">Ver mapa más grande</a></small>
</section>
{% endblock %}
