{% extends "generic-bootstrap-model-form.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block other-head %}
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block page-header %}{% trans "Add registration staff" %}{% endblock %}

{% block page-name %}{% trans "Add registration staff" %}{% endblock %}

{% block pre-form %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><i class="fa fa-info-circle fa-5x"></i>{% blocktrans %} People who can manage attendance can register a
            person the day of the event.{% endblocktrans %} </p>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <h3>{% trans "Current registration staff:" %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="list-group">
                {% for registration_person in registration_people %}
                    {% user_display registration_person.event_user.user as user_display %}
                    {% get_social_accounts registration_person.event_user.user as accounts %}
                    <div class="list-group-item">
                        <div class="row-picture">
                            {% if registration_person.event_user.user.socialaccount_set.all|length > 0 %}
                                <img class="circle"
                                     src="{{ registration_person.event_user.user.socialaccount_set.all.0.get_avatar_url }}"/>
                            {% else %}
                                <img class="circle" src="https://www.lessonpaths.com/avatars/no_avatar_large.jpg"/>

                            {% endif %}
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading">{{ user_display }}</h4>

                            <p class="list-group-item-text">{{ registration_person.event_user.user.first_name }} {{ organizer.event_user.user.last_name }}</p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <h3>{% trans "Add a new registration person:" %}</h3>
            <hr>
        </div>
    </div>

{% endblock %}

{% block form-id %}"add-registration-people"{% endblock %}

{% block form-name %}{% trans "Add" %}{% endblock %}

{% block form-action %}"{% url "add_registration_people" event_slug %}"{% endblock %}

{% block submit-button %}{% trans "Add" %}{% endblock %}

{% block other-script %}
    <script>
        $(document).ready(function() {

            var eventUserAutocomplete = $('.autocomplete-light-widget');

            eventUserAutocomplete.yourlabsWidget().autocomplete.data = {
                'event_slug': "{{ event_slug }}"
            };
        });
    </script>
{% endblock %}