{% extends "generic-bootstrap-model-form.html" %}
{% load i18n %}
{% block page-header %}{% trans "Change Password" %}{% endblock %}
{% block page-name %}{% trans "Change Password" %}{% endblock %}

{% block form-id %}"change-password"{% endblock %}

{% block form-name %}{% trans "Change Password" %}{% endblock %}

{% block form-action %}"{% url 'account_change_password' %}"{% endblock %}

{% block submit-button %}{% trans "Change Password" %}{% endblock %}

{% block pre-form %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-xs-12">
            <strong>{% trans "Password requirements:" %}</strong>
            <ul>
                <li>{% trans "Must contain at least 8 characters." %}</li>
                <li>{% trans "Can't be too similar to your other personal information." %}</li>
                <li>{% trans "Can't be a commonly used password." %}</li>
                <li>{% trans "Can't be entirely numeric." %}</li>
            </ul>
        </div>
    </div>
{% endblock %}