{% extends "generic-bootstrap-model-form.html" %}
{% load i18n %}
{% block page-header %}{% trans "Sign Up" %}{% endblock %}
{% block page-name %}{% trans "Sign Up" %}{% endblock %}

{% block form-id %}"signup_form"{% endblock %}

{% block form-name %}{% trans "Sign Up" %}{% endblock %}

{% block navbar-menu %}{% endblock %}
{% block pre-form %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-xs-12">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>
            <strong>{% trans "Password requirements:" %}</strong>
            <ul>
                <li>{% trans "Must contain at least 8 characters." %}</li>
                <li>{% trans "Can't be too similar to your other personal information." %}</li>
                <li>{% trans "Can't be a commonly used password." %}</li>
                <li>{% trans "Can't be entirely numeric." %}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block form-action %}"{% url 'account_signup' %}"{% endblock %}

{% block extra-fields %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
{% endblock %}
