{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="card">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">
                <h1>{% trans "Verify Your E-mail Address" %}</h1>
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize
                    the signup process. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}