// Colors

$eventol-color: #1f6879;

$white: #fff;
$black: #000;
$light-gray: #fafafa;
$dark-gray: #221f1f;
$gray: #666a73;

$a-color: $white;
$text-color: $black;
$gradient-color: $black;
$gradient-gray-color: $light-gray;
$gradient-end: $dark-gray;
$gradient-end-rgba: rgba(34, 31, 31, 0);

$user-profile: $gray;

$body-background: $light-gray;
$body-color: $white;
