// Colors

$eventol-color: #1f6879;

$white: #fff;
$black: #000;
$light-gray: #fafafa;
$dark-gray: #221f1f;
$gray: #666a73;

$a-color: $white;
$text-color: $black;
$gradient-color: $black;
$gradient-gray-color: $light-gray;
$gradient-end: $dark-gray;
$gradient-end-rgba: rgba(34, 31, 31, 0);

$user-profile: $gray;

$body-background: $light-gray;
$body-color: $white;

$event-home-body-color: #212529;

// Bootstrap colors
$bootstrap-blue: #337ab7;
$bootstrap-primary: #214760;
$bootstrap-success: #449d44;
$bootstrap-danger: #f44336;

// Schedule
$event-border-color: #01579b;

// Forms
$form-label-default-color: #009688;
$form-error-color: #f44336;

// Containers
$container-text-h1-default-color: #ffa500;
$container-shadow-color: rgba(0, 0, 0, .7);

// Card
$card-border-color: rgba(0, 0, 0, .125);
$card-shadow-color: rgba(0, 0, 0, .2);
$card-shadow-color-end: rgba(0, 0, 0, .2);

// Maps
$location-address-color: #727272;

// Contact
$contact-link-color: #b6b6b6;
$facebook-icon-color: #3b5998;
$twitter-icon-color: #55acee;
$google-icon-color: #dd4b39;
$github-icon-color: #333;
$live-icon-color: #333;

// Navbar
$navbar-color: rgba(255, 255, 255, .84);
$navbar-background-color: #214760;

// Alert
$alert-info-color: #31708f;
$alert-info-background-color: #d9edf7;

// Dropdown
$dropdown-item-color: rgba(0, 0, 0, .87);
$dropdown-background-color: #666a73;
$dropdown-background-hover-color: #1f6879;
$dropdown-box-shadow-color: rgba(0, 0, 0, .2);
