{% extends "generic-bootstrap-model-form.html" %}
{% load staticfiles %}
{% load cropping thumbnail %}
{% load i18n %}
{% block other-head %}
    <script> var jqMin = jQuery.noConflict(); </script>
    {{ form.media }}
    <script> jQuery = $ = jqMin;</script>
{% endblock %}

{% block page-header %}{% trans "Talk Proposal" %}
    <small>{% trans "Please select the visible area for your image" %}</small>{% endblock %}

{% block page-name %}{% trans "Talk Proposal" %}{% endblock %}

{% block form-id %}"talk_proposal"{% endblock %}

{% block form-name %}{% trans "Talk Proposal" %}{% endblock %}

{% block form-action %}"."{% endblock %}

{% block submit-button %}{% trans "Upload" %}{% endblock %}