{% extends "base.html" %}
{% load i18n %}
{% block page-header %}{% trans "Registration" %}
    <small>{% trans "Please confirm your registration" %}</small>{% endblock %}
{% block page-name %}{% trans "Registration" %}{% endblock %}
{% block content %}
    {% blocktrans %}<h3>Thank you for registering for FLISoL.</h3>
        <p>We've sent you an email with the confirmation link. Please click or copy and paste it in your browser to
        confirm the registration.{% endblocktrans %}</p>
{% endblock %}