{% extends "generic-bootstrap-model-form.html" %}
{% load i18n %}
{% block page-header %}{% trans "Login" noop %}{% endblock %}
{% block page-name %}{% trans "Login" noop %}{% endblock %}

{% block pre-form %}
    {% if next %}
        {% if next == "/sede/{{ sede_url }}/talk/proposal/" %}
            <p>{% trans "In order to submit a talk proposal, you must <a href='/sede/{{ sede_url }}/registration/collaborator'>register as a collaborator</a> or <a href='/sede/{{ sede_url }}/registration/installer'>register as an installer</a> first" %}</p>
        {% elif next == "/sede/{{ sede_url }}/installation" %}
            <p>{% trans "In order to submit an installation, you must <a href='/sede/{{ sede_url }}/registration/installer'>register as an installer</a> first" %}</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block form-id %}"login"{% endblock %}

{% block form-name %}{% trans "Login" noop %}{% endblock %}

{% block form-action %}"{% url 'eventol_login' sede_url %}"{% endblock %}

{% block extra-fields %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
    {% else %}
        <input type="hidden" name="next" value="/sede/{{ sede_url }}/"/>
    {% endif %}
{% endblock %}