{% extends "generic-bootstrap-model-form.html" %}
{% load i18n %}
{% block page-header %}{% trans "Login" %}{% endblock %}
{% block page-name %}{% trans "Login" %}{% endblock %}

{% block pre-form %}
    {% if next %}
        {% ifequal next "/event/"|add:event_url|add:"/talk/proposal/" %}
            <p>{% trans "In order to submit a talk proposal, you must" %}
                <a href='/event/{{ event_url }}/registration/collaborator'>{% trans "register as a Speaker" %}</a>
                {% trans "first" %}
            </p>
        {% endifequal %}
        {% ifequal next "/event/"|add:event_url|add:"/installation" %}
            <p>{% trans "In order to submit an installation, you must" %}
                <a href='/event/{{ event_url }}/registration/installer'>{% trans "register as an installer" %}</a>
                {% trans "first" %}
            </p>
        {% endifequal %}
    {% endif %}
{% endblock %}

{% block form-id %}"login"{% endblock %}

{% block form-name %}{% trans "Login" %}{% endblock %}

{% block form-action %}"{% url 'eventol_login' event_url %}"{% endblock %}

{% block extra-fields %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
    {% else %}
        <input type="hidden" name="next" value="/event/{{ event_url }}/"/>
    {% endif %}
{% endblock %}

{% block post-form %}
    <p><a href="{% url 'forgot_password' %}">{% trans "Forgot your password?" %}</a></p>
{% endblock %}
