{% extends "generic-bootstrap-multiple-model-form.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page-header %}{% trans "Submit an Installation" %}{% endblock %}
{% block page-name %}{% trans "Submit an Installation" %}{% endblock %}

{% block form-id %}"installation-form"{% endblock %}

{% block form-name %}{% trans "Submit an Installation" %}{% endblock %}

{% block more-button %}
  <a href="{% url "attendee_registration_from_installation"  event_uid %}" class="btn btn-primary btn-raised">
    {% trans "Register a Attendee" %}
  </a>
{% endblock %}

{% block form-action %}"{% url "installation"  event_uid %}"{% endblock %}
